# Assignment 2

# Install package

In [20]:
#Install packege of selenium
!pip install selenium

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: selenium in c:\users\dell\appdata\roaming\python\python39\site-packages (4.7.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\programdata\anaconda3\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: trio~=0.17 in c:\users\dell\appdata\roaming\python\python39\site-packages (from selenium) (0.22.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\dell\appdata\roaming\python\python39\site-packages (from selenium) (0.9.2)
Requirement already satisfied: attrs>=19.2.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\dell\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.0.4)
Requirement already satisfied: outcome in c:\users\dell\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\dell\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: wsproto>=0.14 in c:\users\dell\appdata\roaming\python\python39\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\dell\appdata\roaming\python\python39\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

# Question no 01

#### Q :-
Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [41]:
# Importing the required Libraries.

import selenium 
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

#Lets first connect to the driver-
driver = webdriver.Chrome(r"chromedriver.exe")

#Opening the "naukri " page on automated chrome browser
driver.get("https://www.naukri.com/")

In [42]:

# Entering "designation keywords"  , as required in the question-
designation = driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys("Data Analyst")

# Entering "location keywords" , as required in the question-
location = driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys("Bangalore")

# Now we write a command , to click on the submit button.
search = driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

# Here we created an Empty List , to store the Elements receiving after iterating any code or loops.
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [43]:
# Now we create a User-Defined function, so that it may call it,  when we require its usage.
def srapingnaukridata():
    # scraping job title from the given page
    title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
    for i in title_tags[0:10]:
        title=i.text
        job_title.append(title)
    
    # scraping job location from the given page
    location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft fs12 lh16 locWdth"]')
    for i in location_tags[0:10]:
        location=i.text
        job_location.append(location)
    
    # scraping company name from the given page
    company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
    for i in company_tags[0:10]:
        company=i.text
        company_name.append(company)
    
    # scraping job experience from the given page
    experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft fs12 lh16 expwdth"]')
    for i in experience_tags[0:10]:
        experience=i.text
        experience_required.append(experience)

# Calling User-defined fn.
srapingnaukridata()

# checking the length of the list, & store the Elements ; with in the Empty list created above.
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [44]:
# After confirmation from the above code run , and its equivalent outputs in all the fields.
# Now , We move towards making of its data Frame structure.

df=pd.DataFrame({'SERIAL_NUM':range(1,11,1),'JOB_TITLE':job_title,'JOB_LOCATION':job_location,'COMPANY_NAME':company_name,'EXP_REQ':experience_required})
df

,SERIAL_NUM,JOB_TITLE,JOB_LOCATION,COMPANY_NAME,EXP_REQ
0,1,Data Analyst,Bangalore/Bengaluru,Namdhari Seeds,0-2 Yrs
1,2,Senior Data Analyst - Applied Analytics,Bangalore/Bengaluru,IBM,2-6 Yrs
2,3,Business Data Analysts,Bangalore/Bengaluru,Zscaler Softech,5-10 Yrs
3,4,Business Data Analysts,Bangalore/Bengaluru,Zscaler Softech,5-10 Yrs
4,5,Data Analyst,Permanent Remote,Treebo Hotels,1-2 Yrs
5,6,Assistant Manager/Manager - Data Analyst - Ana...,"Bangalore/Bengaluru, Delhi / NCR",Huquo Consulting Pvt. Ltd,6-11 Yrs
6,7,Business Analyst/ Sr. Data Analyst,Hybrid - Bangalore/Bengaluru(Whitefield),Zen Data Shastra Llp,2-6 Yrs
7,8,Data Analyst,Bangalore/Bengaluru,Optum,2-5 Yrs
8,9,Data Analyst 1,Bangalore/Bengaluru,Optum,5-7 Yrs
9,10,Sr. Data Analyst,Bangalore/Bengaluru,Inspira Enterprise India,3-4 Yrs

# Question no 02

### Q :-

Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [46]:
# Importing the required Libraries.

import selenium 
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

#Lets first connect to the driver-
     
driver = webdriver.Chrome(r"chromedriver.exe")

#Opening the naukri page on automated chrome browser
driver.get("https://www.digit.in/")

In [37]:
# Entering "designation keywords"  , as required in the question-
designation = driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys("Data Scientist")

# Entering "location keywords" , as required in the question-
location = driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys("Bangalore")

# Now we write a command , to click on the submit button.
search = driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

# Here we created an Empty List , to store the Elements receiving after iterating any code or loops.
job_title=[]
job_location=[]
company_name=[]

In [39]:
# Now we create a User-Defined function, so that it may call it,  when we require its usage.
def srapingnaukridata2():
    
    # scraping job title from the given page
    title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
    for i in title_tags[0:10]:
        title=i.text
        job_title.append(title)
    
    # scraping job location from the given page
    location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft fs12 lh16 locWdth"]')
    for i in location_tags[0:10]:
        location=i.text
        job_location.append(location)
    
    # scraping company name from the given page
    company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
    for i in company_tags[0:10]:
        company=i.text
        company_name.append(company)
        
# Calling User-defined fn.
srapingnaukridata2()

# checking the length of the list, & store the Elements ; with in the Empty list created above.
print(len(job_title),len(job_location),len(company_name))

10 10 10

In [40]:
# After confirmation from the above code run , and its equivalent outputs in all the fields.
# Now , We move towards making of its data Frame structure.

df=pd.DataFrame({'SERIAL_NUM':range(1,11,1),'JOB_TITLE':job_title,'JOB_LOCATION':job_location,'COMPANY_NAME':company_name})
df

,SERIAL_NUM,JOB_TITLE,JOB_LOCATION,COMPANY_NAME
0,1,Data Scientist,"Hybrid - Bangalore/Bengaluru, Noida, Hyderabad...",Birlasoft
1,2,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
2,3,Manager,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",PwC
3,4,Senior Principal Data Scientist,Bangalore/Bengaluru,Optum
4,5,Principal Data Scientist,Bangalore/Bengaluru,Optum
5,6,Senior Data Scientist,Bangalore/Bengaluru,Optum
6,7,DATA SCIENTIST III,Bangalore/Bengaluru,Walmart
7,8,Data Scientist,"Hybrid - Bangalore/Bengaluru, Noida, Kolkata, ...",Mindtree
8,9,Senior Data Scientist,"Bangalore/Bengaluru, Mumbai",Baker Hughes
9,10,Data Scientist,Bangalore/Bengaluru,Infosys

# Question no 03

In this question you have to scrape data using the filters available on the webpage as shown below:
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs

The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [1]:
# Importing the required , Libraries.
import selenium 
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

#Lets first connect to the driver-

driver = webdriver.Chrome(r"chromedriver.exe")

#Opening the naukri page on automated chrome browser

driver.get("https://www.naukri.com/")

In [2]:
# entering designation and location as required in the question-

designation = driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys("Data Scientist")

# Searching the search_Icon and giving a click command to it.
search = driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

# creating Empty list's.
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [4]:
# Searching & applying the filter , location as "Delhi/NCR" .
search = driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[5]/div[2]/div[2]/label/p/span[1]")
search.click()

In [5]:
# Searching & applying the filter , Salary as "3-6" 
search = driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[6]/div[2]/div[2]/label/p/span[1]")
search.click()

In [6]:
# scraping job title from the given page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
# scraping job location from the given page
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft fs12 lh16 locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
# scraping company name from the given page
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
# scraping job experience from the given page
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft fs12 lh16 expwdth"]')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)

In [7]:
df=pd.DataFrame({'SERIAL_NUM':range(1,11,1),'JOB_TITLE':job_title,'JOB_LOCATION':job_location,'COMPANY_NAME':company_name,'EXP_REQ':experience_required})
df

,SERIAL_NUM,JOB_TITLE,JOB_LOCATION,COMPANY_NAME,EXP_REQ
0,1,Artificial Intelligence/Computer Vision Engine...,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Vicara,1-3 Yrs
1,2,Data Activation Specialist - Adobe Target,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Okda Solutions,7-10 Yrs
2,3,Data Scientist - Engine Algorithm,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Primo Hiring,1-3 Yrs
3,4,Associate Data Scientist,Noida,Navikenz India,3-8 Yrs
4,5,Data Scientist,Temp. WFH - Noida,NGI Ventures,1-5 Yrs
5,6,Data Scientist,"Dehradun, Hyderabad/Secunderabad, Gurgaon/Guru...",torcai digital media,2-7 Yrs
6,7,Opening For Jr. Data Scientist with Tatras Dat...,Delhi / NCR,Tatras Data Services,2-4 Yrs
7,8,Data Scientist,Gurgaon/Gurugram,Americana Restaurants (india),3-8 Yrs
8,9,URGENT: Data Scientist | Gurugram | 5 Days Wor...,Gurgaon/Gurugram,Digilytics,2-5 Yrs
9,10,Data Scientist,Noida,Alliance Recruitment Agency,3-4 Yrs

# Question no 04

Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. ProductDescription
3. Price
The attributes which you have to scrape is ticked marked in the below image.

To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and
click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the
required data as usual.
4. After scraping data from the first page, go to the “Next” Button at the bottom other page , then
click on it.
5. Now scrape data from this page as usual
6. Repeat this until you get data for 100 sunglasses.
Note: That all of the above steps have to be done by coding only and not manually.

In [13]:
#Importing the Required , Libraries.
import selenium 
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

#Lets first connect to the driver-
driver = webdriver.Chrome(r"chromedriver.exe")

#Opening the naukri page on automated chrome browser
driver.get("https://www.flipkart.com/")

In [14]:
# entering sunglasses in the search bar.
sun_glasses = driver.find_element(By.CLASS_NAME,"_3704LK")
sun_glasses.send_keys("sunglasses")

search = driver.find_element(By.CLASS_NAME,"_34RNph")
search.click()

Brand_ = []
ProductDescription_ = []
Price_ = []
Percentageoff_ = []

In [15]:
# scraping Brand Name
brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brand_tags[0:]:
    brand=i.text
    Brand_.append(brand)
    
# scraping ProductDescription
productdes_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in productdes_tags[0:]:
    product=i.text
    ProductDescription_.append(product)
    
# scraping Price
price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in price_tags[0:]:
    price=i.text
    Price_.append(price)
    
# scraping Percentage OFF
percentageoff_tags=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
for i in percentageoff_tags[0:]:
    percentageoff=i.text
    Percentageoff_.append(percentageoff)
    
    
print("\n\n\n",len(Brand_),len(ProductDescription_),len(Price_),len(Percentageoff_))

 40 40 40 40

In [16]:
#NEXT PAGE STARTS < HERE

# searching for the next_page icon bar on the page no 01

next_page = driver.find_element(By.CLASS_NAME,"_1LKTO3")
next_page.send_keys("NEXT")

# Click On Search Icon , of page 1.
search = driver.find_element(By.CLASS_NAME,"_1LKTO3")
search.click()

In [17]:
# scraping Brand Name , of page 2.
brand_tags2=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brand_tags2[0:]:
    brand2=i.text
    Brand_.append(brand2)
    
# scraping ProductDescription  , of page 2.
productdes_tags2=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in productdes_tags2[0:]:
    product2=i.text
    ProductDescription_.append(product2)
    
# scraping Price  , of page 2.
price_tags2=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in price_tags2[0:]:
    price2=i.text
    Price_.append(price2)
    
    

# scraping Percentage OFF  , of page 2.
percentageoff_tags2=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
for i in percentageoff_tags2[0:]:
    percentageoff2=i.text
    Percentageoff_.append(percentageoff2)
    
    
print("\n\n\n",len(Brand_),len(ProductDescription_),len(Price_),len(Percentageoff_))

 80 80 80 80

In [18]:
#NEXT PAGE STARTS < HERE

# searching for the next_page icon bar on the page no 01

next_page2 = driver.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]")
next_page2.send_keys("NEXT")

# Click On Search Icon , of page 1.
search2 = driver.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]")
search2.click()

In [19]:

# scraping Brand Name , of page 2.
brand_tags3=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brand_tags3[0:20]:
    brand3=i.text
    Brand_.append(brand3)
    
# scraping ProductDescription  , of page 2.
productdes_tags3=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in productdes_tags3[0:20]:
    product3=i.text
    ProductDescription_.append(product3)
    
# scraping Price  , of page 2.
price_tags3=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in price_tags3[0:20]:
    price3=i.text
    Price_.append(price3)
    
    

# scraping Percentage OFF  , of page 2.
percentageoff_tags3=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
for i in percentageoff_tags3[0:20]:
    percentageoff3=i.text
    Percentageoff_.append(percentageoff3)

In [20]:
df=pd.DataFrame({'Serial_Number':range(1,101,1),'BRAND_Of_Product':Brand_,'PRODUCT_DES_DETAILS':ProductDescription_,'PRICE_DETAILS':Price_,'PERCENTAGEOFF_DISCOUNT':Percentageoff_})
df

,Serial_Number,BRAND_Of_Product,PRODUCT_DES_DETAILS,PRICE_DETAILS,PERCENTAGEOFF_DISCOUNT
0,1,PC STAR,"Riding Glasses, UV Protection Retro Square Sun...",₹393,73% off
1,2,RESIST EYEWEAR,"Polarized, Riding Glasses, UV Protection Wayfa...","₹1,399",72% off
2,3,Elligator,"UV Protection Cat-eye, Retro Square, Oval, Rou...",₹149,75% off
3,4,LIZA ANGEL,"Riding Glasses, Night Vision Spectacle Sunglas...",₹129,87% off
4,5,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹439,45% off
...,...,...,...,...,...
95,96,ROZZETTA CRAFT,UV Protection Wayfarer Sunglasses (54),₹616,75% off
96,97,SRPM,"UV Protection, Mirrored Wayfarer Sunglasses (54)",₹129,87% off
97,98,Elligator,UV Protection Wayfarer Sunglasses (Free Size),₹179,82% off
98,99,Fastrack,UV Protection Cat-eye Sunglasses (56),₹599,40% off
99,100,AISLIN,"Polarized, UV Protection Round Sunglasses (51)",₹524,79% off

# Question no 05

Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:
https://www.flipkart.com/apple-iphone-11-black-64-gb/productreviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market
place=FLIPKART

As shown in the above page you have to scrape the tick marked attributes. These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100 reviews.
Note: All the steps required during scraping should be done through code only and not manually.

In [20]:
# Importing the required , libraries.

import selenium 
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

#Lets first connect to the driver-
driver = webdriver.Chrome(r"chromedriver.exe")

In [21]:
#Opening the naukri page on automated chrome browser

driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market")
time.sleep(3)

# Creating the empty list .
rating_ = []
review_summary_ = []
full_review_ = []

In [22]:
# Creating the User-Defined Fn.

def rate_review_full():
    
    #Scraping Ratings.
    rating_tags=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in rating_tags[0:]:
        rating=i.text
        rating_.append(rating)
    
    # Scraping ProductDescription
    review_summary_tags=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in review_summary_tags[0:]:
        review=i.text
        review_summary_.append(review)
    
    # Scraping Price
    full_review_tags=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in full_review_tags[0:]:
        fullreview=i.text
        full_review_.append(fullreview)
    
    print("\n\n",len(rating_),len(review_summary_),len(full_review_))

In [23]:
    
# Scraping elements from the page-01 . (using User_def_fn)

rate_review_full()

 10 10 10

In [24]:

# Getting to the next_ page no 02 , by clicking the Nextpage_Webelement_Icon's.

try:
    element = driver.find_element(By.XPATH,"/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]")
    time.sleep(2)
    print(element.text)
except NoSuchElementException as e:
    print("Exception Raised :" ,e )
    element = driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[2]')
    time.sleep(2)
    print(element.text)
    
element.click()

NEXT

In [25]:
# Scraping elements from the page-02. (using User_def_fn)

rate_review_full()

 20 20 20

In [26]:
# Getting to the next page 03 , by clicking the Nextpage_Webelement_Icon's.

try:
    element = driver.find_element(By.XPATH,"/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span")
    time.sleep(2)
    print(element.text)
except NoSuchElementException as e:
    print("Exception Raised :" ,e )
    element = driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]')
    time.sleep(2)
    print(element.text)
    
element.click()

NEXT

In [27]:

# Scraping elements from the page-03. (using User_def_fn)

rate_review_full()

 30 30 30

In [28]:
# Getting to the next page 04 , by clicking the Nextpage_Webelement_Icon's.

try:
    element = driver.find_element(By.XPATH,"/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]")
    time.sleep(5)
    print(element.text)
except NoSuchElementException as e:
    print("Exception Raised :" ,e )
    element = driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[5]')
    time.sleep(5)
    print(element.text)
    
element.click()

NEXT

In [29]:
# Scraping elements from the page-04. (using User_def_fn)

rate_review_full()

 40 40 40

In [30]:
# Getting to the next page 05 , by clicking the Nextpage_Webelement_Icon's.

try:
    element = driver.find_element(By.XPATH,"/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span")
    time.sleep(5)
    print(element.text)
except NoSuchElementException as e:
    print("Exception Raised :" ,e )
    element = driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[6]')
    time.sleep(5)
    print(element.text)
    
element.click()

NEXT

In [31]:
# Scraping elements from the page-05. (using User_def_fn)

rate_review_full()

 50 50 50

In [32]:
# Getting to the next page 06 , by clicking the Nextpage_Webelement_Icon's.

try:
    element = driver.find_element(By.XPATH,"/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span")
    time.sleep(5)
    print(element.text)
except NoSuchElementException as e:
    print("Exception Raised :" ,e )
    element = driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[7]')
    time.sleep(5)
    print(element.text)
    
element.click()

NEXT

In [33]:
#scraping elements from the page-06. (using User_def_fn)
    
# Scraping Ratings.
rating_tags=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in rating_tags[0:]:
    rating=i.text
    rating_.append(rating)
    
# Scraping ProductDescription
review_summary_tags=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in review_summary_tags[0:]:
    review=i.text
    review_summary_.append(review)
    
# Scraping Price
full_review_tags=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
for i in full_review_tags[0:]:
    fullreview=i.text
    full_review_.append(fullreview)

# Scraping Ratings.
rating_tags=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1rdVr6 _1BLPMq"]')
for i in rating_tags[0:]:
    rating=i.text
    rating_.append(rating)
    
print("\n\n",len(rating_),len(review_summary_),len(full_review_))

 60 60 60

In [34]:
# Getting to the next page 07 , by clicking the Nextpage_Webelement_Icon's.

try:
    element = driver.find_element(By.XPATH,"/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span")
    time.sleep(5)
    print(element.text)
except NoSuchElementException as e:
    print("Exception Raised :" ,e )
    element = driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[8]')
    time.sleep(5)
    print(element.text)
    
element.click()

NEXT

In [35]:
# Scraping elements from the page-07. (using User_def_fn)
# Scraping Ratings.
rating_tags=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in rating_tags[0:1]:
    rating=i.text
    rating_.append(rating)

# Scraping Ratings.
rating_tags=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1rdVr6 _1BLPMq"]')
for i in rating_tags[0:1]:
    rating=i.text
    rating_.append(rating)
    

# Scraping Ratings.
rating_tags=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in rating_tags[1:]:
    rating=i.text
    rating_.append(rating)

# Scraping ProductDescription
review_summary_tags=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in review_summary_tags[0:]:
    review=i.text
    review_summary_.append(review)
    
# Scraping Price
full_review_tags=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
for i in full_review_tags[0:]:
    fullreview=i.text
    full_review_.append(fullreview)
    
    
print("\n\n",len(rating_),len(review_summary_),len(full_review_))

 70 70 70

In [36]:
# Getting to the next page 08 , by clicking the Nextpage_Webelement_Icon's.

try:
    element = driver.find_element(By.XPATH,"/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span")
    time.sleep(5)
    print(element.text)
except NoSuchElementException as e:
    print("Exception Raised :" ,e )
    element = driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[7]')
    time.sleep(5)
    print(element.text)
    
element.click()

NEXT

In [37]:
# Scraping elements from the page-08. (using User_def_fn)
    
rate_review_full()

 80 80 80

In [38]:
# Getting to the next page 09 , by clicking the Nextpage_Webelement_Icon's.

try:
    element = driver.find_element(By.XPATH,"/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span")
    time.sleep(5)
    print(element.text)
except NoSuchElementException as e:
    print("Exception Raised :" ,e )
    element = driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[7]')
    time.sleep(5)
    print(element.text)
    
element.click()

NEXT

In [39]:
# Scraping elements from the page-09. (using User_def_fn)
    
rate_review_full()

 90 90 90

In [40]:
# Getting to the next page 10 , by clicking the Nextpage_Webelement_Icon's.

try:
    element = driver.find_element(By.XPATH,"/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span")
    time.sleep(5)
    print(element.text)
except NoSuchElementException as e:
    print("Exception Raised :" ,e )
    element = driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[7]')
    time.sleep(5)
    print(element.text)
    
element.click()

NEXT

In [42]:
# Scraping elements from the page-10. 

# Scraping Ratings.
rating_tags=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in rating_tags[0:8]:
    rating=i.text
    rating_.append(rating)

# Scraping Ratings.
rating_tags=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1rdVr6 _1BLPMq"]')
for i in rating_tags[0:1]:
    rating=i.text
    rating_.append(rating)
    
# .Scraping Ratings.
rating_tags=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in rating_tags[-1:]:
    rating=i.text
    rating_.append(rating)  
    

# Scraping ProductDescription
review_summary_tags=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in review_summary_tags[0:]:
    review=i.text
    review_summary_.append(review)
    
# Scraping Price
full_review_tags=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
for i in full_review_tags[0:]:
    fullreview=i.text
    full_review_.append(fullreview)
    
print("\n\n",len(rating_),len(review_summary_),len(full_review_))

 100 100 100

In [43]:
# Making DataFrame of the above data frm the flipkart.

df=pd.DataFrame({'Serial_Number':range(1,101,1),'RATING_Of_Product':rating_,'REVIEW_SUMMARY':review_summary_,'FULL_REVIEW':full_review_})
df

,Serial_Number,RATING_Of_Product,REVIEW_SUMMARY,FULL_REVIEW
0,1,5,Simply awesome,Really satisfied with the Product I received.....
1,2,5,Perfect product!,Amazing phone with great cameras and better ba...
2,3,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,4,4,Value-for-money,I'm Really happy with the product\nDelivery wa...
4,5,5,Highly recommended,It's my first time to use iOS phone and I am l...
...,...,...,...,...
95,96,5,Terrific,Simply Awesome\n\nI have upgraded from iPhone ...
96,97,5,Best in the market!,Damn this phone is a blast . Upgraded from and...
97,98,5,Perfect product!,Worth the money’ starting first from its perfo...
98,99,1,Absolute rubbish!,Worst product delivered by Flipkart\nAfter 10d...
99,100,5,Mind-blowing purchase,"Flipkart honoured on time delivery, I have use..."

# Question no 06

Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the
search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. ProductDescription
3. Price
As shown in the below image, you have to scrape the tick marked attributes.

To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter “sneakers” in the search field where “search for products, brands and more” is written and
click the search icon
3. After that you will reach to the page having a lot of sneakers. From this page you can scrap the
required data as usual.
4. After scraping data from the first page, go to the “Next” Button at the bottom other page , then
click on it.
5. Now scrape data from this page as usual
6. Repeat this until you get data for 100 sneakers.
Note: That all of the above steps have to be done by coding only and not manually.

In [40]:
# Import the Required , Libraries.

import selenium 
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

#Lets first connect to the driver-
driver = webdriver.Chrome(r"chromedriver.exe")

#Opening the naukri page on automated chrome browser
driver.get("https://www.flipkart.com/")

In [43]:
# entering sunglasses in the search bar.
sneakers_ = driver.find_element(By.CLASS_NAME,"_3704LK")
sneakers_.send_keys("sneakers")

# Clicking on the Search_icon.
search = driver.find_element(By.CLASS_NAME,"_34RNph")
search.click()

# Creating an Empty Lists.
Brand_ = []
ProductDescription_ = []
Price_ = []
Percentageoff_ = []

In [44]:
# scraping Brand Name
brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brand_tags[0:41]:
    brand=i.text
    Brand_.append(brand)
    
# scraping Price
price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in price_tags[0:41]:
    price=i.text
    Price_.append(price)
    
# scraping Percentage OFF
percentageoff_tags=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
for i in percentageoff_tags[0:41]:
    percentageoff=i.text
    Percentageoff_.append(percentageoff)
      
print("\n\n\n",len(Brand_),len(ProductDescription_),len(Price_),len(Percentageoff_))

 40 0 40 40

In [45]:
# Click On Search Icon , of page 1.
search = driver.find_element(By.CLASS_NAME,"_1LKTO3")
search.click()

In [46]:

# scraping Brand Name
brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brand_tags[0:41]:
    brand=i.text
    Brand_.append(brand)
    
# scraping Price
price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in price_tags[0:41]:
    price=i.text
    Price_.append(price)
    
# scraping Percentage OFF
percentageoff_tags=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
for i in percentageoff_tags[0:41]:
    percentageoff=i.text
    Percentageoff_.append(percentageoff)
      
print("\n\n\n",len(Brand_),len(ProductDescription_),len(Price_),len(Percentageoff_))

 80 0 80 80

In [47]:
# Click On Search Icon , of page 1.
search = driver.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]/span")
search.click()

In [48]:
# scraping Brand Name
brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brand_tags[0:21]:
    brand=i.text
    Brand_.append(brand)
    
# scraping Price
price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in price_tags[0:21]:
    price=i.text
    Price_.append(price)
    
# scraping Percentage OFF
percentageoff_tags=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
for i in percentageoff_tags[0:21]:
    percentageoff=i.text
    Percentageoff_.append(percentageoff)
      
print("\n\n\n",len(Brand_),len(ProductDescription_),len(Price_),len(Percentageoff_))

 101 0 101 101

In [49]:
df=pd.DataFrame({'Serial_Number':range(1,102,1),'BRAND_Of_Product':Brand_,'PRICE_DETAILS':Price_,'PERCENTAGEOFF_DISCOUNT':Percentageoff_})
df

     Serial_Number BRAND_Of_Product PRICE_DETAILS PERCENTAGEOFF_DISCOUNT
0                1           Labbin          ₹399                60% off
1                2           Shozie          ₹295                70% off
2                3              SFR          ₹209                65% off
3                4         RapidBox          ₹599                40% off
4                5              SFR          ₹299                70% off
..             ...              ...           ...                    ...
96              97  U.S. POLO ASSN.        ₹2,789                38% off
97              98          BIG FOX          ₹774                69% off
98              99          DEXTURE          ₹849                73% off
99             100     Robbie jones          ₹459                54% off
100            101          BIG FOX          ₹774                69% off

[101 rows x 4 columns]

# Question no 07

Q7: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” as shown in the below image:

After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. Title
2. Ratings
3. Price

In [22]:
# Importing the Required , Libraries.
import selenium 
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

#Lets first connect to the driver-
driver = webdriver.Chrome(r"chromedriver.exe")

#Opening the amazon page on automated chrome browser
driver.get("https://www.amazon.in/")

In [23]:
# Entering "Laptop" in the search bar.
laptop_ = driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
laptop_.send_keys("Laptop")

# Clicking the Search_Icon.
search = driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input")
search.click()

# Creating Empty List.
Title_ = []
Rating_ = []
Price_ = []

In [24]:
# Entering the CPU-Type in the search bar.

cpu_type = driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[6]/li[11]/span/a/span")
cpu_type.click()

In [25]:
# Scraping Brand Name
title_tags=driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in title_tags[0:11]:
    title=i.text
    Title_.append(title)
    
print(len(Title_))

11

In [26]:
# Scraping ProductDescription
ratings_tags=driver.find_elements(By.XPATH,'//span[@class="a-size-base"]')
for i in ratings_tags[0:11]:
    ratings=i.text
    Rating_.append(ratings)
    

print(Rating_)
print(len(Rating_))

['(5.0)', '(3.9)', '(4.7)', '(5.0)', '(1.0)', '(3.7)', '(4.7)', '(3.0)', '(1.0)', '(5.0)', '(4.2)']
11

In [27]:
# Scraping Price
price_tags=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in price_tags[0:11]:
    price=i.text
    Price_.append(price)
    
print( Price_)
print(len(Price_))

['4,32,435', '1,21,115', '1,52,100', '1,81,833', '2,13,990', '1,49,990', '3,39,500', '2,29,990', '3,01,980', '4,29,990', '1,87,990']
11

In [28]:
# Creating a DataFrame, of the above Datasets.

df=pd.DataFrame({'Serial_Number':range(1,11,1),'TITLE_Of_Product':Title_[0:10],'RATING_OF_PRODUCT':Rating_[0:10],'PRICE_DETAILS':Price_[0:10]})
df

,Serial_Number,TITLE_Of_Product,RATING_OF_PRODUCT,PRICE_DETAILS
0,1,Acer Predator Helios 500 Gaming Laptop (11Th G...,(5.0),"4,32,435"
1,2,Acer Predator Helios 300 Gaming Laptop Intel C...,(3.9),"1,21,115"
2,3,"Dell G15-5520 Gaming Laptop, i9-12900H, 16GB D...",(4.7),"1,52,100"
3,4,"Dell G15-5521 Gaming Laptop, i9-12900H, 16GB D...",(5.0),"1,81,833"
4,5,ASUS Zenbook Pro 14 Duo OLED (2022) Dual Scree...,(1.0),"2,13,990"
5,6,Acer Predator Helios 300 Gaming Laptop Intel C...,(3.7),"1,49,990"
6,7,HP Omen 12th Gen Intel Core i9-12900HX 17.3 in...,(4.7),"3,39,500"
7,8,"ASUS ROG Strix Scar 15 (2022), 15.6"" (39.62 cm...",(3.0),"2,29,990"
8,9,"ASUS ROG Strix Scar 15 (2022), 15.6"" (39.62 cm...",(1.0),"3,01,980"
9,10,"MSI Raider GE67HX, Intel 12th Gen. i9-12900HX,...",(5.0),"4,29,990"

# Question no 08

: Write a python program to scrape data for Top 1000 Quotes of All Time.
The above task will be done in following steps:
1.First get the webpage https://www.azquotes.com/
2. Click on Top Quotes
3. Than scrap a) Quote b) Author c) Type Of Quotes

In [29]:
# Importing the Rrequired, Libraries.
import selenium 
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

# Lets first connect to the driver-
driver = webdriver.Chrome(r"chromedriver.exe")

# Opening the naukri page on automated chrome browser
driver.get("https://www.azquotes.com/")

In [30]:
# Clicking the Search_Icon Of " TOP QUOTES ".
topquotes = driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a")
topquotes.click()

# Creating an Empty Lists.
Quote_ = []
Author_ = []
Type_Of_Quotes = []

In [31]:
# Page no 01......................................................

# scraping Quote_
quote_tags=driver.find_elements(By.XPATH,'//a[@class="title"]')
for i in quote_tags[0:101]:
    quote=i.text
    Quote_.append(quote)
    
# scraping Author_
author_tags=driver.find_elements(By.XPATH,'//div[@class="author"]')
for i in author_tags[0:101]:
    author=i.text
    Author_.append(author)
    
# scraping Type_Of_Quotes
typequote_tags=driver.find_elements(By.XPATH,'//div[@class="tags"]')
for i in typequote_tags[0:101]:
    typequote=i.text
    Type_Of_Quotes.append(typequote)
    
print(len(Quote_),len(Author_),len(Type_Of_Quotes))

100 100 100

In [32]:
#Next Page no 02......................................................
nextpage1 = driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[12]/a")
nextpage1.click()

# scraping Quote_
quote_tags1=driver.find_elements(By.XPATH,'//a[@class="title"]')
for i in quote_tags1[0:101]:
    quote1=i.text
    Quote_.append(quote1)
    
# scraping Author_
author_tags1=driver.find_elements(By.XPATH,'//div[@class="author"]')
for i in author_tags1[0:101]:
    author1=i.text
    Author_.append(author1)
    
# scraping Type_Of_Quotes
typequote_tags1=driver.find_elements(By.XPATH,'//div[@class="tags"]')
for i in typequote_tags1[0:101]:
    typequote1=i.text
    Type_Of_Quotes.append(typequote1)
    
print(len(Quote_),len(Author_),len(Type_Of_Quotes))

200 200 200

In [33]:
#Next Page no 03......................................................
nextpage2 = driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[12]/a")
nextpage2.click()

# scraping Quote_
quote_tags2=driver.find_elements(By.XPATH,'//a[@class="title"]')
for i in quote_tags2[0:101]:
    quote2=i.text
    Quote_.append(quote2)
    
# scraping Author_
author_tags2=driver.find_elements(By.XPATH,'//div[@class="author"]')
for i in author_tags2[0:101]:
    author2=i.text
    Author_.append(author2)
    
# scraping Type_Of_Quotes
typequote_tags2=driver.find_elements(By.XPATH,'//div[@class="tags"]')
for i in typequote_tags2[0:101]:
    typequote2=i.text
    Type_Of_Quotes.append(typequote2)
    
print(len(Quote_),len(Author_),len(Type_Of_Quotes))

300 300 300

In [34]:
#Next Page no 04......................................................
nextpage3 = driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[12]/a")
nextpage3.click()

# scraping Quote_
quote_tags3=driver.find_elements(By.XPATH,'//a[@class="title"]')
for i in quote_tags3[0:101]:
    quote3=i.text
    Quote_.append(quote3)
    
# scraping Author_
author_tags3=driver.find_elements(By.XPATH,'//div[@class="author"]')
for i in author_tags3[0:101]:
    author3=i.text
    Author_.append(author3)
    
# scraping Type_Of_Quotes
typequote_tags3=driver.find_elements(By.XPATH,'//div[@class="tags"]')
for i in typequote_tags3[0:101]:
    typequote3=i.text
    Type_Of_Quotes.append(typequote3)
    
print(len(Quote_),len(Author_),len(Type_Of_Quotes))

400 400 400

In [35]:
#Next Page no 05......................................................
nextpage4 = driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[12]/a")
nextpage4.click()

# scraping Quote_
quote_tags4=driver.find_elements(By.XPATH,'//a[@class="title"]')
for i in quote_tags4[0:101]:
    quote4=i.text
    Quote_.append(quote4)
    
# scraping Author_
author_tags4=driver.find_elements(By.XPATH,'//div[@class="author"]')
for i in author_tags4[0:101]:
    author4=i.text
    Author_.append(author4)
    
# scraping Type_Of_Quotes
typequote_tags4=driver.find_elements(By.XPATH,'//div[@class="tags"]')
for i in typequote_tags4[0:101]:
    typequote4=i.text
    Type_Of_Quotes.append(typequote4)
    
print(len(Quote_),len(Author_),len(Type_Of_Quotes))

500 500 500

In [36]:
#Next Page no 06......................................................
nextpage5 = driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[12]/a")
nextpage5.click()

# scraping Quote_
quote_tags5=driver.find_elements(By.XPATH,'//a[@class="title"]')
for i in quote_tags5[0:101]:
    quote5=i.text
    Quote_.append(quote5)
    
# scraping Author_
author_tags5=driver.find_elements(By.XPATH,'//div[@class="author"]')
for i in author_tags5[0:101]:
    author5=i.text
    Author_.append(author5)
    
# scraping Type_Of_Quotes
typequote_tags5=driver.find_elements(By.XPATH,'//div[@class="tags"]')
for i in typequote_tags5[0:101]:
    typequote5=i.text
    Type_Of_Quotes.append(typequote5)
    
print(len(Quote_),len(Author_),len(Type_Of_Quotes))

600 600 600

In [37]:
#Next Page no 07......................................................
nextpage6 = driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[12]/a")
nextpage6.click()

# scraping Quote_
quote_tags6=driver.find_elements(By.XPATH,'//a[@class="title"]')
for i in quote_tags6[0:101]:
    quote6=i.text
    Quote_.append(quote6)
    
# scraping Author_
author_tags6=driver.find_elements(By.XPATH,'//div[@class="author"]')
for i in author_tags6[0:101]:
    author6=i.text
    Author_.append(author6)
    
# scraping Type_Of_Quotes
typequote_tags6=driver.find_elements(By.XPATH,'//div[@class="tags"]')
for i in typequote_tags6[0:101]:
    typequote6=i.text
    Type_Of_Quotes.append(typequote6)
    
print(len(Quote_),len(Author_),len(Type_Of_Quotes))

700 700 700

In [38]:
#Next Page no 08......................................................
nextpage7 = driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[12]/a")
nextpage7.click()

# scraping Quote_
quote_tags7=driver.find_elements(By.XPATH,'//a[@class="title"]')
for i in quote_tags7[0:101]:
    quote7=i.text
    Quote_.append(quote7)
    
# scraping Author_
author_tags7=driver.find_elements(By.XPATH,'//div[@class="author"]')
for i in author_tags7[0:101]:
    author7=i.text
    Author_.append(author7)
    
# scraping Type_Of_Quotes
typequote_tags7=driver.find_elements(By.XPATH,'//div[@class="tags"]')
for i in typequote_tags7[0:101]:
    typequote7=i.text
    Type_Of_Quotes.append(typequote7)
    
print(len(Quote_),len(Author_),len(Type_Of_Quotes))

800 800 800

In [39]:
#Next Page no 09......................................................
nextpage8 = driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[12]/a")
nextpage8.click()

# scraping Quote_
quote_tags8=driver.find_elements(By.XPATH,'//a[@class="title"]')
for i in quote_tags8[0:101]:
    quote8=i.text
    Quote_.append(quote8)
    
# scraping Author_
author_tags8=driver.find_elements(By.XPATH,'//div[@class="author"]')
for i in author_tags8[0:101]:
    author8=i.text
    Author_.append(author8)
    
# scraping Type_Of_Quotes
typequote_tags8=driver.find_elements(By.XPATH,'//div[@class="tags"]')
for i in typequote_tags8[0:101]:
    typequote8=i.text
    Type_Of_Quotes.append(typequote8)
    
print(len(Quote_),len(Author_),len(Type_Of_Quotes))

900 900 900

In [40]:
#Next Page no 10......................................................
nextpage9 = driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[12]/a")
nextpage9.click()

# scraping Quote_
quote_tags9=driver.find_elements(By.XPATH,'//a[@class="title"]')
for i in quote_tags9[0:101]:
    quote9=i.text
    Quote_.append(quote9)
    
# scraping Author_
author_tags9=driver.find_elements(By.XPATH,'//div[@class="author"]')
for i in author_tags9[0:101]:
    author9=i.text
    Author_.append(author9)
    
# scraping Type_Of_Quotes
typequote_tags9=driver.find_elements(By.XPATH,'//div[@class="tags"]')
for i in typequote_tags9[0:101]:
    typequote9=i.text
    Type_Of_Quotes.append(typequote9)
    
print(len(Quote_),len(Author_),len(Type_Of_Quotes))

1000 1000 1000

In [41]:
# Making a DataFrame for the Above Data.

df=pd.DataFrame({'Serial_Number':range(1,1001,1),'QUOTE':Quote_[:1001],'AUTHOR':Author_[:1001],'TYPE_OF_QUOTE':Type_Of_Quotes[:1001]})
df

,Serial_Number,QUOTE,AUTHOR,TYPE_OF_QUOTE
0,1,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,2,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,3,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,4,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,5,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...,...
995,996,Regret for the things we did can be tempered b...,Sydney J. Harris,"Love, Inspirational, Motivational"
996,997,America... just a nation of two hundred millio...,Hunter S. Thompson,"Gun, Two, Qualms About"
997,998,For every disciplined effort there is a multip...,Jim Rohn,"Inspirational, Greatness, Best Effort"
998,999,"The spiritual journey is individual, highly pe...",Ram Dass,"Spiritual, Truth, Yoga"
999,1000,The mind is not a vessel to be filled but a fi...,Plutarch,"Inspirational, Leadership, Education"

# Question no 09

Q9: Write a python program to display list of respected former Prime Ministers of India(i.e. Name, Born-Dead,
Term of office, Remarks) from https://www.jagranjosh.com/.
This task will be done in following steps:
1. First get the webpage https://www.jagranjosh.com/
2. Then You have to click on the GK option
3. Then click on the List of all Prime Ministers of India
4. Then scrap the mentioned data and make the DataFrame.

In [1]:
#Import the Required, Libraries.

import selenium 
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

#Lets first connect to the driver-
driver = webdriver.Chrome(r"chromedriver.exe")

#Opening the naukri page on automated chrome browser
driver.get("https://www.jagranjosh.com/")

In [2]:
# Click on the gk_option.

gk_option = driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div/div[1]/div/div[6]/div/div[1]/header/div[3]/ul/li[9]/a")
gk_option.click()


# Create the Empty Lists.
PmName_ = []
Born_Dead_ = []
Term_Of_Office_ = []
Remarks_ = []

# Click on the "List of all Prime Ministers of India"

list_Of_PM = driver.find_element(By.XPATH,"/html/body/div[1]/div/div/div[2]/div/div[10]/div/div/ul/li[2]/a")
list_Of_PM.click()

In [44]:
#...................For PM_#01

# scraping PmName_1
PmName_tags1=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[2]/td[2]/p/strong/a')
for i in PmName_tags1[0:1]:
    PmName1=i.text
    PmName_.append(PmName1)
    
# scraping Born_Dead_1
borndead_tags1=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[2]/td[3]/p')
for i in borndead_tags1[0:1]:
    borndead1=i.text
    Born_Dead_.append(borndead1)
    
# scraping Term_Of_Office_1
termoffice_tags1=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[2]/td[4]/p[1]/span')
for i in termoffice_tags1[0:1]:
    termoffice1=i.text
    Term_Of_Office_.append(termoffice1)
    
# scraping Remarks_1
remarks_tags1=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[2]/td[5]')
for i in remarks_tags1[0:1]:
    remarks1=i.text
    Remarks_.append(remarks1)

    
#...................For PM_#02

# scraping PmName_2
PmName_tags2=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[3]/td[2]')
for i in PmName_tags2[0:1]:
    PmName2=i.text
    PmName_.append(PmName2)

# scraping Born_Dead_2
borndead_tags2=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[3]/td[3]')
for i in borndead_tags2[0:1]:
    borndead2=i.text
    Born_Dead_.append(borndead2)
        
# scraping Term_Of_Office_2
termoffice_tags2=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[3]/td[4]/p[1]/span')
for i in termoffice_tags2[0:1]:
    termoffice2=i.text
    Term_Of_Office_.append(termoffice2)

# scraping Remarks_2
remarks_tags2=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[3]/td[5]')
for i in remarks_tags2[0:1]:
    remarks2=i.text
    Remarks_.append(remarks2)  
    

#...................For PM_#03

# scraping PmName_3
PmName_tags3=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[4]/td[2]')
for i in PmName_tags3[0:1]:
    PmName3=i.text
    PmName_.append(PmName3)
    
# scraping Born_Dead_3
borndead_tags3=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[4]/td[3]')
for i in borndead_tags3[0:1]:
    borndead3=i.text
    Born_Dead_.append(borndead3)
    
# scraping Term_Of_Office_3
termoffice_tags3=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[4]/td[4]/p[1]/span')
for i in termoffice_tags3[0:1]:
    termoffice3=i.text
    Term_Of_Office_.append(termoffice3)
    
# scraping Remarks_3
remarks_tags3=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[4]/td[5]')
for i in remarks_tags3[0:1]:
    remarks3=i.text
    Remarks_.append(remarks3)

    
#...................For PM_#04

# scraping PmName_4
PmName_tags4=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[5]/td[2]')
for i in PmName_tags4[0:1]:
    PmName4=i.text
    PmName_.append(PmName4)

# scraping Born_Dead_4
borndead_tags4=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[5]/td[3]')
for i in borndead_tags4[0:1]:
    borndead4=i.text
    Born_Dead_.append(borndead4)
        
# scraping Term_Of_Office_4
termoffice_tags4=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[5]/td[4]/p[1]')
for i in termoffice_tags4[0:1]:
    termoffice4=i.text
    Term_Of_Office_.append(termoffice4)

# scraping Remarks_4
remarks_tags4=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[5]/td[5]/p')
for i in remarks_tags4[0:1]:
    remarks4=i.text
    Remarks_.append(remarks4)  

    
#...................For PM_#05

# scraping PmName_5
PmName_tags5=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[6]/td[2]/p/strong/a')
for i in PmName_tags5[0:1]:
    PmName5=i.text
    PmName_.append(PmName5)
    
# scraping Born_Dead_5
borndead_tags5=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[6]/td[3]/p')
for i in borndead_tags5[0:1]:
    borndead5=i.text
    Born_Dead_.append(borndead5)
    
# scraping Term_Of_Office_5
termoffice_tags5=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[6]/td[4]/p[1]/span')
for i in termoffice_tags5[0:1]:
    termoffice5=i.text
    Term_Of_Office_.append(termoffice5)
    
# scraping Remarks_5
remarks_tags5=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[6]/td[5]/p')
for i in remarks_tags5[0:1]:
    remarks5=i.text
    Remarks_.append(remarks5)

    
#...................For PM_#06

# scraping PmName_6
PmName_tags6=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[7]/td[2]/p')
for i in PmName_tags6[0:1]:
    PmName6=i.text
    PmName_.append(PmName6)

# scraping Born_Dead_6
borndead_tags6=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[7]/td[3]/p')
for i in borndead_tags6[0:1]:
    borndead6=i.text
    Born_Dead_.append(borndead6)
        
# scraping Term_Of_Office_6
termoffice_tags6=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[7]/td[4]/p[1]/span')
for i in termoffice_tags6[0:1]:
    termoffice6=i.text
    Term_Of_Office_.append(termoffice6)

# scraping Remarks_6
remarks_tags6=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[7]/td[5]/p')
for i in remarks_tags6[0:1]:
    remarks6=i.text
    Remarks_.append(remarks6)  
    
    
#...................For PM_#07

# scraping PmName_7
PmName_tags7=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[8]/td[2]/p')
for i in PmName_tags7[0:1]:
    PmName7=i.text
    PmName_.append(PmName7)
    
# scraping Born_Dead_7
borndead_tags7=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[8]/td[3]/p')
for i in borndead_tags7[0:1]:
    borndead7=i.text
    Born_Dead_.append(borndead7)
    
# scraping Term_Of_Office_7
termoffice_tags7=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[8]/td[4]/p[1]/span')
for i in termoffice_tags7[0:1]:
    termoffice7=i.text
    Term_Of_Office_.append(termoffice7)
    
# scraping Remarks_7
remarks_tags7=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[8]/td[5]/p')
for i in remarks_tags7[0:1]:
    remarks7=i.text
    Remarks_.append(remarks7)

    
#...................For PM_#08

# scraping PmName_8
PmName_tags8=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[9]/td[2]/p/strong/a')
for i in PmName_tags8[0:1]:
    PmName8=i.text
    PmName_.append(PmName8)

# scraping Born_Dead_8
borndead_tags8=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[9]/td[3]/p')
for i in borndead_tags8[0:1]:
    borndead8=i.text
    Born_Dead_.append(borndead8)
        
# scraping Term_Of_Office_8
termoffice_tags8=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[9]/td[4]/p[1]/span')
for i in termoffice_tags8[0:1]:
    termoffice8=i.text
    Term_Of_Office_.append(termoffice8)

# scraping Remarks_8
remarks_tags8=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[9]/td[5]/p')
for i in remarks_tags8[0:1]:
    remarks8=i.text
    Remarks_.append(remarks8)  
    
    
#...................For PM_#09

# scraping PmName_9
PmName_tags9=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[10]/td[2]/p/a/strong')
for i in PmName_tags9[0:1]:
    PmName9=i.text
    PmName_.append(PmName9)
    
# scraping Born_Dead_9
borndead_tags9=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[10]/td[3]/p')
for i in borndead_tags9[0:1]:
    borndead9=i.text
    Born_Dead_.append(borndead9)
    
# scraping Term_Of_Office_9
termoffice_tags9=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[10]/td[4]/p[1]/span')
for i in termoffice_tags9[0:1]:
    termoffice9=i.text
    Term_Of_Office_.append(termoffice9)
    
# scraping Remarks_9
remarks_tags9=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[10]/td[5]/p')
for i in remarks_tags9[0:1]:
    remarks9=i.text
    Remarks_.append(remarks9)

    
#...................For PM_#10

# scraping PmName_2
PmName_tags10=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[11]/td[2]/p')
for i in PmName_tags10[0:1]:
    PmName10=i.text
    PmName_.append(PmName10)

# scraping Born_Dead_10
borndead_tags10=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[11]/td[3]/p')
for i in borndead_tags10[0:1]:
    borndead10=i.text
    Born_Dead_.append(borndead10)
        
# scraping Term_Of_Office_10
termoffice_tags10=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[11]/td[4]/p[1]/span')
for i in termoffice_tags10[0:1]:
    termoffice10=i.text
    Term_Of_Office_.append(termoffice10)

# scraping Remarks_10
remarks_tags10=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[11]/td[5]/p')
for i in remarks_tags10[0:1]:
    remarks10=i.text
    Remarks_.append(remarks10)  
    
    
#...................For PM_#11

# scraping PmName_11
PmName_tags11=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[12]/td[2]/p/strong/a')
for i in PmName_tags11[0:1]:
    PmName11=i.text
    PmName_.append(PmName11)
    
# scraping Born_Dead_11
borndead_tags11=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[12]/td[3]/p')
for i in borndead_tags11[0:1]:
    borndead11=i.text
    Born_Dead_.append(borndead11)
    
# scraping Term_Of_Office_11
termoffice_tags11=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[12]/td[4]/p[1]/span')
for i in termoffice_tags11[0:1]:
    termoffice11=i.text
    Term_Of_Office_.append(termoffice11)
    
# scraping Remarks_11
remarks_tags11=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[12]/td[5]/p')
for i in remarks_tags11[0:1]:
    remarks11=i.text
    Remarks_.append(remarks11)

    
#...................For PM_#12

# scraping PmName_12
PmName_tags12=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[13]/td[2]/p')
for i in PmName_tags12[0:1]:
    PmName12=i.text
    PmName_.append(PmName12)

# scraping Born_Dead_12
borndead_tags12=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[13]/td[3]/p')
for i in borndead_tags12[0:1]:
    borndead12=i.text
    Born_Dead_.append(borndead12)
        
# scraping Term_Of_Office_12
termoffice_tags12=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[13]/td[4]/p[1]/span')
for i in termoffice_tags12[0:1]:
    termoffice12=i.text
    Term_Of_Office_.append(termoffice12)

# scraping Remarks_12
remarks_tags12=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[13]/td[5]/p')
for i in remarks_tags12[0:1]:
    remarks12=i.text
    Remarks_.append(remarks12)  
    
    
#...................For PM_#13

# scraping PmName_13
PmName_tags13=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[14]/td[2]/p/strong/a')
for i in PmName_tags13[0:1]:
    PmName13=i.text
    PmName_.append(PmName13)
    
# scraping Born_Dead_13
borndead_tags13=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[14]/td[3]/p')
for i in borndead_tags13[0:1]:
    borndead13=i.text
    Born_Dead_.append(borndead13)
    
# scraping Term_Of_Office_13
termoffice_tags13=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[14]/td[4]/p[1]/span')
for i in termoffice_tags13[0:1]:
    termoffice13=i.text
    Term_Of_Office_.append(termoffice13)
    
# scraping Remarks_13
remarks_tags13=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[14]/td[5]/p')
for i in remarks_tags13[0:1]:
    remarks13=i.text
    Remarks_.append(remarks13)

    
#...................For PM_#14

# scraping PmName_14
PmName_tags14=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[15]/td[2]/p')
for i in PmName_tags14[0:1]:
    PmName14=i.text
    PmName_.append(PmName14)

# scraping Born_Dead_14
borndead_tags14=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[15]/td[3]/p')
for i in borndead_tags14[0:1]:
    borndead14=i.text
    Born_Dead_.append(borndead14)
        
# scraping Term_Of_Office_14
termoffice_tags14=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[15]/td[4]/p[1]/span')
for i in termoffice_tags14[0:1]:
    termoffice14=i.text
    Term_Of_Office_.append(termoffice14)

# scraping Remarks_14
remarks_tags14=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[15]/td[5]/p')
for i in remarks_tags14[0:1]:
    remarks14=i.text
    Remarks_.append(remarks14)  
    
    
#...................For PM_#15

# scraping PmName_15
PmName_tags15=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[16]/td[2]/p')
for i in PmName_tags15[0:1]:
    PmName15=i.text
    PmName_.append(PmName15)
    
# scraping Born_Dead_15
borndead_tags15=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[16]/td[3]/p')
for i in borndead_tags15[0:1]:
    borndead15=i.text
    Born_Dead_.append(borndead15)
    
# scraping Term_Of_Office_15
termoffice_tags15=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[16]/td[4]/p[1]/span')
for i in termoffice_tags15[0:1]:
    termoffice15=i.text
    Term_Of_Office_.append(termoffice15)
    
# scraping Remarks_15
remarks_tags15=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[16]/td[5]/p')
for i in remarks_tags15[0:1]:
    remarks15=i.text
    Remarks_.append(remarks15)

    
#...................For PM_#16

# scraping PmName_16
PmName_tags16=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[17]/td[2]/p/a/strong')
for i in PmName_tags16[0:1]:
    PmName16=i.text
    PmName_.append(PmName16)

# scraping Born_Dead_16
borndead_tags16=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[17]/td[3]/p')
for i in borndead_tags16[0:1]:
    borndead16=i.text
    Born_Dead_.append(borndead16)
        
# scraping Term_Of_Office_16
termoffice_tags16=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[17]/td[4]/p[1]/span')
for i in termoffice_tags16[0:1]:
    termoffice16=i.text
    Term_Of_Office_.append(termoffice16)

# scraping Remarks_16
remarks_tags16=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[17]/td[5]/p')
for i in remarks_tags16[0:1]:
    remarks16=i.text
    Remarks_.append(remarks16)  
    
    
#...................For PM_#17

# scraping PmName_17
PmName_tags17=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[18]/td[2]/p/strong/a')
for i in PmName_tags17[0:1]:
    PmName17=i.text
    PmName_.append(PmName17)
    
# scraping Born_Dead_17
borndead_tags17=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[18]/td[3]/p')
for i in borndead_tags17[0:1]:
    borndead17=i.text
    Born_Dead_.append(borndead17)
    
# scraping Term_Of_Office_17
termoffice_tags17=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[18]/td[4]/p[1]/span')
for i in termoffice_tags17[0:1]:
    termoffice17=i.text
    Term_Of_Office_.append(termoffice17)
    
# scraping Remarks_17
remarks_tags17=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[18]/td[5]/p')
for i in remarks_tags17[0:1]:
    remarks17=i.text
    Remarks_.append(remarks17)

    
#...................For PM_#18

# scraping PmName_18
PmName_tags18=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[19]/td[2]/p/a/strong')
for i in PmName_tags18[0:1]:
    PmName18=i.text
    PmName_.append(PmName18)

# scraping Born_Dead_18
borndead_tags18=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[19]/td[3]/p')
for i in borndead_tags18[0:1]:
    borndead18=i.text
    Born_Dead_.append(borndead18)
        
# scraping Term_Of_Office_18
termoffice_tags18=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[19]/td[4]/p/span')
for i in termoffice_tags18[0:1]:
    termoffice18=i.text
    Term_Of_Office_.append(termoffice18)

# scraping Remarks_18
remarks_tags18=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[19]/td[5]/p')
for i in remarks_tags18[0:1]:
    remarks18=i.text
    Remarks_.append(remarks18)  
    
    
print(len(PmName_),len(Born_Dead_),len(Term_Of_Office_),len(Remarks_))

18 18 18 18

In [4]:
# Making the Data Frame for the above details.

df=pd.DataFrame({'Serial_Number':range(1,19,1),'Pm_Name':PmName_,'BORN_DEAD_DATES':Born_Dead_,'TERM_OF_OFFICE':Term_Of_Office_,'REMARKS':Remarks_})
df

,Serial_Number,Pm_Name,BORN_DEAD_DATES,TERM_OF_OFFICE,REMARKS
0,1,Jawahar Lal Nehru,(1889–1964),15 August 1947 to 27 May 1964,The first prime minister of India and the long...
1,2,Gulzarilal Nanda (Acting),(1898-1998),"27 May 1964 to 9 June 1964,",First acting PM of India
2,3,Lal Bahadur Shastri,(1904–1966),9 June 1964 to 11 January 1966,He has given the slogan of 'Jai Jawan Jai Kisa...
3,4,Gulzari Lal Nanda (Acting),(1898-1998),11 January 1966 to 24 January 1966,-
4,5,Indira Gandhi,(1917–1984),24 January 1966 to 24 March 1977,First female Prime Minister of India
5,6,Morarji Desai,(1896–1995),24 March 1977 to 28 July 1979,Oldest to become PM (81 years old) and first t...
6,7,Charan Singh,(1902–1987),28 July 1979 to 14 January 1980,Only PM who did not face the Parliament
7,8,Indira Gandhi,(1917–1984),14 January 1980 to 31 October 1984,The first lady who served as PM for the second...
8,9,Rajiv Gandhi,(1944–1991),31 October 1984 to 2 December 1989,Youngest to become PM (40 years old)
9,10,V. P. Singh,(1931–2008),2 December 1989 to 10 November 1990,First PM to step down after a vote of no confi...
10,11,Chandra Shekhar,(1927–2007),10 November 1990 to 21 June 1991,He belongs to Samajwadi Janata Party
11,12,P. V. Narasimha Rao,(1921–2004),21 June 1991 to 16 May 1996,First PM from south India
12,13,Atal Bihari Vajpayee,(1924- 2018),16 May 1996 to 1 June 1996,PM for shortest tenure
13,14,H. D. Deve Gowda,(born 1933),1 June 1996 to 21 April 1997,He belongs to Janata Dal
14,15,Inder Kumar Gujral,(1919–2012),21 April 1997 to 19 March 1998,------
15,16,Atal Bihari Vajpayee,(1924-2018),19 March 1998 to 22 May 2004,The first non-congress PM who completed a ful...
16,17,Manmohan Singh,(born 1932),22 May 2004 to 26 May 2014,First Sikh PM
17,18,Narendra Modi,(born 1950),26 May 2014 - Present,4th Prime Minister of India who served two con...

# Question no 10

Q10: Write a python program to display list of 50 Most expensive cars in the world (i.e.
Car name ,Description and Price) from https://www.motor1.com/
This task will be done in following steps:
1. First get the webpage https://www.motor1.com/
2. Then You have to click on the List option from Dropdown menu on leftside.
3. Then click on 50 most expensive carsin the world..
4. Then scrap the mentioned data and make the.

In [5]:
#Import the Required, Libraries.

import selenium 
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

#Lets first connect to the driver-
driver = webdriver.Chrome(r"chromedriver.exe")

#Opening the naukri page on automated chrome browser
driver.get(" https://www.motor1.com/")

In [8]:
# Getting in to the , "Three_Search_Bar" search bar

try:
    threebar_Btn = driver.find_element(By.XPATH,'/html/body/div[3]/div[2]/div/div/div[1]/div')
    time.sleep(1)
    print(threebar_Btn.text)
except NoSuchElementException as e:
    print("Exception Raised :" ,e )
    threebar_Btn = driver.find_element(By.XPATH,'//div[@class="m1-hamburger-button"]')
    time.sleep(1)
    print(threebar_Btn.text)
    
threebar_Btn.click()

In [12]:
# Getting in to the,"Feature_Bar" search bar
try:
    feature_Btn = driver.find_element(By.XPATH,'/html/body/div[4]/div[1]/div[3]/ul/li[5]')
    time.sleep(1)
    print(feature_Btn.text)
except NoSuchElementException as e:
    print("Exception Raised :" ,e )
    feature_Btn = driver.find_element(By.XPATH,'/html/body/div[4]/div[1]/div[3]/ul/li[5]/a')
    time.sleep(1)
    print(feature_Btn.text)
    
feature_Btn.click()

FEATURES

In [13]:

# Click on the " WOLRD  _ TOP _50_ EXPENSIVE - CARS "

car50_Btn = driver.find_element(By.XPATH,'/html/body/div[3]/div[7]/div/div[1]/div[1]/div[2]/div/div[1]/h3/a')
car50_Btn.click()
time.sleep(5)

# Create the Empty Lists.
Car_Name_ = []
Description_ = []
price_3 = []
price_4 = []
price_5 = []
Price_ = []
Price_ = price_3 + price_4 + price_5

In [14]:
# THE " Car Name _ TOP _50 _ Expensive"

cname_tags = driver.find_elements(By.XPATH,'//h3[@class="subheader"]')
for i in cname_tags[:50]:
    cname=i.text
    Car_Name_.append(cname)

print(len(Car_Name_))
print(Car_Name_)

50
['Drako GTE', 'De Tomaso P72', 'Ferrari LaFerrari', 'Pagani Huayra', 'McLaren Elva', 'Czinger 21C', 'Ferrari Monza', 'Gordon Murray T.33', 'Koenigsegg Gemera', 'Zenvo TSR-S', 'Hennessey Venom F5', 'Bentley Bacalar', 'Hispano Suiza Carmen Boulogne', 'Bentley Mulliner Batur', 'Deus Vayanne', 'SSC Tuatara', 'Lotus Evija', 'Aston Martin Vulcan', 'Delage D12', 'McLaren Speedtail', 'Rimac Nevera', 'Pagani Utopia', 'Pininfarina Battista', 'Ferrari FXX K Evo', 'Gordon Murray T.50', 'Lamborghini Countach', 'Mercedes-AMG Project One', 'Aston Martin Victor', 'Hennessey Venom F5 Roadster', 'Koenigsegg Jesko', 'Aston Martin Valkyrie', 'W Motors Lykan Hypersport', 'McLaren Solus', 'Pagani Huayra Roadster BC', 'Bugatti Chiron Pur Sport', 'Lamborghini Sian', 'Koenigsegg CC850', 'Bugatti Chiron Super Sport 300+', 'Lamborghini Veneno', 'Bugatti Bolide', 'Bugatti Mistral', 'Pagani Huayra Imola', 'Bugatti Divo', 'SP Automotive Chaos', 'Pagani Codalunga', 'Mercedes-Maybach Exelero', 'Bugatti Centodieci', 'Rolls-Royce Sweptail', 'Bugatti La Voiture Noire', 'Rolls-Royce Boat Tail*']

In [15]:
# THE " Car PRICE_ TOP _03 "

cprice_tags3 = driver.find_elements(By.XPATH,'//p[strong]')
for i in cprice_tags3[:3]:
    price=i.text
    price_3.append(price)

print(len(price_3))
print(price_3)

3
['Price: $1.2 Million', 'Price: $1.3 Million', 'Price: $1.4 Million']

In [16]:
# THE " Car PRICE_ TOP _only _04th "

cprice_tags4 = driver.find_elements(By.XPATH,'/html/body/div[3]/div[7]/div[2]/div[1]/div[2]/div[1]/p[10]')
for i in cprice_tags4[:1]:
    price=i.text
    price_4.append(price)

print(len(price_4))
print(price_4)

1
['Price: $1.4 Million']

In [17]:
# THE " Car PRICE_ TOP _5th to 50th "

cprice_tags5 = driver.find_elements(By.XPATH,'//p[strong]')
for i in cprice_tags5[5:]:
    price=i.text
    price_5.append(price)

print(len(price_5))
print(price_5)

46
['Price: $1.7 Million', 'Price: $1.7 Million', 'Price: $1.7 Million', 'Price: $1.7 Million', 'Price: $1.7 Million', 'Price: $1.7 Million', 'Price: $1.8 Million', 'Price: $1.9 Million', 'Price: $1.9 Million', 'Price: $2.0 Million', 'Price: $2.0 Million', 'Price: $2.0 Million*', 'Price: $2.1 Million', 'Price: $2.3 Million', 'Price: $2.3 Million', 'Price: $2.3 Million', 'Price: $2.4 Million', 'Price: $2.5 Million', 'Price: $2.5 Million', 'Price: $2.6 Million', 'Price: $2.6 Million', 'Price: $2.6 Million', 'Price: $2.7 Million', 'Price: $3.0 Million', '$3.0 Million', 'Price: $3.0 Million', 'Price: $3.2 Million', 'Price: $3.4 Million', '$3.5 Million', 'Price: $3.5 Million', 'Price: $3.6 Million', 'Price: $3.6 million', 'Price: $3.7 Million', 'Price: $3.9 Million', 'Price: $4.5 Million', 'Price: $4.7 Million', 'Price: $5.0 Million', 'Price: $5.4 Million', 'Price: $5.8 Million', 'Price: $6.4 Million', 'Price: $7.4 Million', 'Price: $8.0 Million', 'Price: $9.0 Million', 'Price: $12.8 Million', 'Price: $13.4 Million', 'Price: $28.0 Million (est.)']

In [18]:
Price_ = price_3 + price_4 + price_5
print(Price_)
print(len(Price_))

['Price: $1.2 Million', 'Price: $1.3 Million', 'Price: $1.4 Million', 'Price: $1.4 Million', 'Price: $1.7 Million', 'Price: $1.7 Million', 'Price: $1.7 Million', 'Price: $1.7 Million', 'Price: $1.7 Million', 'Price: $1.7 Million', 'Price: $1.8 Million', 'Price: $1.9 Million', 'Price: $1.9 Million', 'Price: $2.0 Million', 'Price: $2.0 Million', 'Price: $2.0 Million*', 'Price: $2.1 Million', 'Price: $2.3 Million', 'Price: $2.3 Million', 'Price: $2.3 Million', 'Price: $2.4 Million', 'Price: $2.5 Million', 'Price: $2.5 Million', 'Price: $2.6 Million', 'Price: $2.6 Million', 'Price: $2.6 Million', 'Price: $2.7 Million', 'Price: $3.0 Million', '$3.0 Million', 'Price: $3.0 Million', 'Price: $3.2 Million', 'Price: $3.4 Million', '$3.5 Million', 'Price: $3.5 Million', 'Price: $3.6 Million', 'Price: $3.6 million', 'Price: $3.7 Million', 'Price: $3.9 Million', 'Price: $4.5 Million', 'Price: $4.7 Million', 'Price: $5.0 Million', 'Price: $5.4 Million', 'Price: $5.8 Million', 'Price: $6.4 Million', 'Price: $7.4 Million', 'Price: $8.0 Million', 'Price: $9.0 Million', 'Price: $12.8 Million', 'Price: $13.4 Million', 'Price: $28.0 Million (est.)']
50

In [19]:
# THE " Car Description_ TOP _50 "

descrip_tags1 = driver.find_elements(By.XPATH,'/html/body/div[3]/div[7]/div[2]/div[1]/div[2]/div[1]/p[5]')
for i in descrip_tags1[0:]:
    desc1=i.text
    Description_.append(desc1)
    
descrip_tags2 = driver.find_elements(By.XPATH,'/html/body/div[3]/div[7]/div[2]/div[1]/div[2]/div[1]/p[7]')
for i in descrip_tags2[0:]:
    desc2=i.text
    Description_.append(desc2)
    
descrip_tags3 = driver.find_elements(By.XPATH,'/html/body/div[3]/div[7]/div[2]/div[1]/div[2]/div[1]/p[9]')
for i in descrip_tags3[0:]:
    desc3=i.text
    Description_.append(desc3)


descrip_tags4 = driver.find_elements(By.XPATH,'/html/body/div[3]/div[7]/div[2]/div[1]/div[2]/div[1]/p[11]')
for i in descrip_tags4[0:]:
    desc4=i.text
    Description_.append(desc4)
    
descrip_tags5 = driver.find_elements(By.XPATH,'/html/body/div[3]/div[7]/div[2]/div[1]/div[2]/div[1]/p[13]')
for i in descrip_tags5[0:]:
    desc5=i.text
    Description_.append(desc5)
    
descrip_tags6 = driver.find_elements(By.XPATH,'/html/body/div[3]/div[7]/div[2]/div[1]/div[2]/div[1]/p[15]')
for i in descrip_tags6[0:]:
    desc6=i.text
    Description_.append(desc6)
    
descrip_tags7 = driver.find_elements(By.XPATH,'/html/body/div[3]/div[7]/div[2]/div[1]/div[2]/div[1]/p[17]')
for i in descrip_tags7[0:]:
    desc7=i.text
    Description_.append(desc7)
    
descrip_tags8 = driver.find_elements(By.XPATH,'/html/body/div[3]/div[7]/div[2]/div[1]/div[2]/div[1]/p[19]')
for i in descrip_tags8[0:]:
    desc8=i.text
    Description_.append(desc8)
    
descrip_tags9 = driver.find_elements(By.XPATH,'/html/body/div[3]/div[7]/div[2]/div[1]/div[2]/div[1]/p[21]')
for i in descrip_tags9[0:]:
    desc9=i.text
    Description_.append(desc9)


descrip_tags10 = driver.find_elements(By.XPATH,'/html/body/div[3]/div[7]/div[2]/div[1]/div[2]/div[1]/p[23]')
for i in descrip_tags10[0:]:
    desc10=i.text
    Description_.append(desc10)
    
descrip_tags11 = driver.find_elements(By.XPATH,'/html/body/div[3]/div[7]/div[2]/div[1]/div[2]/div[1]/p[25]')
for i in descrip_tags11[0:]:
    desc11=i.text
    Description_.append(desc11)
    
descrip_tags12 = driver.find_elements(By.XPATH,'/html/body/div[3]/div[7]/div[2]/div[1]/div[2]/div[1]/p[27]')
for i in descrip_tags12[0:]:
    desc12=i.text
    Description_.append(desc12)
    
    
descrip_tags13 = driver.find_elements(By.XPATH,'/html/body/div[3]/div[7]/div[2]/div[1]/div[2]/div[1]/p[29]')
for i in descrip_tags13[0:]:
    desc13=i.text
    Description_.append(desc13)
    
descrip_tags14 = driver.find_elements(By.XPATH,'/html/body/div[3]/div[7]/div[2]/div[1]/div[2]/div[1]/p[31]')
for i in descrip_tags14[0:]:
    desc14=i.text
    Description_.append(desc14)
    
descrip_tags15 = driver.find_elements(By.XPATH,'/html/body/div[3]/div[7]/div[2]/div[1]/div[2]/div[1]/p[33]')
for i in descrip_tags15[0:]:
    desc15=i.text
    Description_.append(desc15)


descrip_tags16 = driver.find_elements(By.XPATH,'/html/body/div[3]/div[7]/div[2]/div[1]/div[2]/div[1]/p[35]')
for i in descrip_tags16[0:]:
    desc16=i.text
    Description_.append(desc16)
    
descrip_tags17 = driver.find_elements(By.XPATH,'/html/body/div[3]/div[7]/div[2]/div[1]/div[2]/div[1]/p[37]')
for i in descrip_tags17[0:]:
    desc17=i.text
    Description_.append(desc17)
    
descrip_tags18 = driver.find_elements(By.XPATH,'/html/body/div[3]/div[7]/div[2]/div[1]/div[2]/div[1]/p[39]')
for i in descrip_tags18[0:]:
    desc18=i.text
    Description_.append(desc18)
    
descrip_tags19 = driver.find_elements(By.XPATH,'/html/body/div[3]/div[7]/div[2]/div[1]/div[2]/div[1]/p[41]')
for i in descrip_tags19[0:]:
    desc19=i.text
    Description_.append(desc19)
    
descrip_tags20 = driver.find_elements(By.XPATH,'/html/body/div[3]/div[7]/div[2]/div[1]/div[2]/div[1]/p[43]')
for i in descrip_tags20[0:]:
    desc20=i.text
    Description_.append(desc20)
    
descrip_tags21 = driver.find_elements(By.XPATH,'/html/body/div[3]/div[7]/div[2]/div[1]/div[2]/div[1]/p[45]')
for i in descrip_tags21[0:]:
    desc21=i.text
    Description_.append(desc21)


descrip_tags22 = driver.find_elements(By.XPATH,'/html/body/div[3]/div[7]/div[2]/div[1]/div[2]/div[1]/p[47]')
for i in descrip_tags22[0:]:
    desc22=i.text
    Description_.append(desc22)
    
descrip_tags23 = driver.find_elements(By.XPATH,'/html/body/div[3]/div[7]/div[2]/div[1]/div[2]/div[1]/p[49]')
for i in descrip_tags23[0:]:
    desc23=i.text
    Description_.append(desc23)
    
descrip_tags24 = driver.find_elements(By.XPATH,'/html/body/div[3]/div[7]/div[2]/div[1]/div[2]/div[1]/p[51]')
for i in descrip_tags24[0:]:
    desc24=i.text
    Description_.append(desc24)
    
    
descrip_tags25 = driver.find_elements(By.XPATH,'/html/body/div[3]/div[7]/div[2]/div[1]/div[2]/div[1]/p[53]')
for i in descrip_tags25[0:]:
    desc25=i.text
    Description_.append(desc25)
    
descrip_tags26 = driver.find_elements(By.XPATH,'/html/body/div[3]/div[7]/div[2]/div[1]/div[2]/div[1]/p[55]')
for i in descrip_tags26[0:]:
    desc26=i.text
    Description_.append(desc26)
    
descrip_tags27 = driver.find_elements(By.XPATH,'/html/body/div[3]/div[7]/div[2]/div[1]/div[2]/div[1]/p[57]')
for i in descrip_tags27[0:]:
    desc27=i.text
    Description_.append(desc27)


descrip_tags28 = driver.find_elements(By.XPATH,'/html/body/div[3]/div[7]/div[2]/div[1]/div[2]/div[1]/p[59]')
for i in descrip_tags28[0:]:
    desc28=i.text
    Description_.append(desc28)
    
descrip_tags29 = driver.find_elements(By.XPATH,'/html/body/div[3]/div[7]/div[2]/div[1]/div[2]/div[1]/p[61]')
for i in descrip_tags29[0:]:
    desc29=i.text
    Description_.append(desc29)
    
descrip_tags30 = driver.find_elements(By.XPATH,'/html/body/div[3]/div[7]/div[2]/div[1]/div[2]/div[1]/p[63]')
for i in descrip_tags30[0:]:
    desc30=i.text
    Description_.append(desc30)
    
descrip_tags31 = driver.find_elements(By.XPATH,'/html/body/div[3]/div[7]/div[2]/div[1]/div[2]/div[1]/p[65]')
for i in descrip_tags31[0:]:
    desc31=i.text
    Description_.append(desc31)
    
descrip_tags32 = driver.find_elements(By.XPATH,'/html/body/div[3]/div[7]/div[2]/div[1]/div[2]/div[1]/p[67]')
for i in descrip_tags32[0:]:
    desc32=i.text
    Description_.append(desc32)
    
descrip_tags33 = driver.find_elements(By.XPATH,'/html/body/div[3]/div[7]/div[2]/div[1]/div[2]/div[1]/p[69]')
for i in descrip_tags33[0:]:
    desc33=i.text
    Description_.append(desc33)


descrip_tags34 = driver.find_elements(By.XPATH,'/html/body/div[3]/div[7]/div[2]/div[1]/div[2]/div[1]/p[71]')
for i in descrip_tags34[0:]:
    desc34=i.text
    Description_.append(desc34)
    
descrip_tags35 = driver.find_elements(By.XPATH,'/html/body/div[3]/div[7]/div[2]/div[1]/div[2]/div[1]/p[73]')
for i in descrip_tags35[0:]:
    desc35=i.text
    Description_.append(desc35)
    
descrip_tags36 = driver.find_elements(By.XPATH,'/html/body/div[3]/div[7]/div[2]/div[1]/div[2]/div[1]/p[75]')
for i in descrip_tags36[0:]:
    desc36=i.text
    Description_.append(desc36)
    
    
descrip_tags37 = driver.find_elements(By.XPATH,'/html/body/div[3]/div[7]/div[2]/div[1]/div[2]/div[1]/p[77]')
for i in descrip_tags37[0:]:
    desc37=i.text
    Description_.append(desc37)
    
descrip_tags38 = driver.find_elements(By.XPATH,'/html/body/div[3]/div[7]/div[2]/div[1]/div[2]/div[1]/p[79]')
for i in descrip_tags38[0:]:
    desc38=i.text
    Description_.append(desc38)
    
descrip_tags39 = driver.find_elements(By.XPATH,'/html/body/div[3]/div[7]/div[2]/div[1]/div[2]/div[1]/p[81]')
for i in descrip_tags39[0:]:
    desc39=i.text
    Description_.append(desc39)


descrip_tags40 = driver.find_elements(By.XPATH,'/html/body/div[3]/div[7]/div[2]/div[1]/div[2]/div[1]/p[83]')
for i in descrip_tags40[0:]:
    desc40=i.text
    Description_.append(desc40)
    
descrip_tags41 = driver.find_elements(By.XPATH,'/html/body/div[3]/div[7]/div[2]/div[1]/div[2]/div[1]/p[85]')
for i in descrip_tags41[0:]:
    desc41=i.text
    Description_.append(desc41)
    
descrip_tags42 = driver.find_elements(By.XPATH,'/html/body/div[3]/div[7]/div[2]/div[1]/div[2]/div[1]/p[87]')
for i in descrip_tags42[0:]:
    desc42=i.text
    Description_.append(desc42)
    
descrip_tags43 = driver.find_elements(By.XPATH,'/html/body/div[3]/div[7]/div[2]/div[1]/div[2]/div[1]/p[89]')
for i in descrip_tags43[0:]:
    desc43=i.text
    Description_.append(desc43)
    
descrip_tags44 = driver.find_elements(By.XPATH,'/html/body/div[3]/div[7]/div[2]/div[1]/div[2]/div[1]/p[91]')
for i in descrip_tags44[0:]:
    desc44=i.text
    Description_.append(desc44)
    
descrip_tags45 = driver.find_elements(By.XPATH,'/html/body/div[3]/div[7]/div[2]/div[1]/div[2]/div[1]/p[93]')
for i in descrip_tags45[0:]:
    desc45=i.text
    Description_.append(desc45)


descrip_tags46 = driver.find_elements(By.XPATH,'/html/body/div[3]/div[7]/div[2]/div[1]/div[2]/div[1]/p[95]')
for i in descrip_tags46[0:]:
    desc46=i.text
    Description_.append(desc46)
    
descrip_tags47 = driver.find_elements(By.XPATH,'/html/body/div[3]/div[7]/div[2]/div[1]/div[2]/div[1]/p[97]')
for i in descrip_tags47[0:]:
    desc47=i.text
    Description_.append(desc47)
    
descrip_tags48 = driver.find_elements(By.XPATH,'/html/body/div[3]/div[7]/div[2]/div[1]/div[2]/div[1]/p[99]')
for i in descrip_tags48[0:]:
    desc48=i.text
    Description_.append(desc48)
    
descrip_tags49 = driver.find_elements(By.XPATH,'/html/body/div[3]/div[7]/div[2]/div[1]/div[2]/div[1]/p[101]')
for i in descrip_tags49[0:]:
    desc49=i.text
    Description_.append(desc49)
    
descrip_tags50 = driver.find_elements(By.XPATH,'/html/body/div[3]/div[7]/div[2]/div[1]/div[2]/div[1]/p[103]')
for i in descrip_tags50[0:]:
    desc50=i.text
    Description_.append(desc50)

    
print(len(Description_))

50

In [20]:
# Making the Data Frame for the above details.

df=pd.DataFrame({'Serial_Number':range(1,51,1),'CAR_Name':Car_Name_,'PRICE_Of_CAR':Price_,'CAR_Discription':Description_})
df

,Serial_Number,CAR_Name,PRICE_Of_CAR,CAR_Discription
0,1,Drako GTE,Price: $1.2 Million,The Drako GTE is a super sedan in every sense ...
1,2,De Tomaso P72,Price: $1.3 Million,The De Tomaso P72 is basically the definition ...
2,3,Ferrari LaFerrari,Price: $1.4 Million,"At $1.4 million new, the Ferrari LaFerrari is ..."
3,4,Pagani Huayra,Price: $1.4 Million,Inarguably one of the prettiest cars on this l...
4,5,McLaren Elva,Price: $1.7 Million,The McLaren Elva is one of the latest addition...
5,6,Czinger 21C,Price: $1.7 Million,"You might not know the name Czinger yet, but t..."
6,7,Ferrari Monza,Price: $1.7 Million,"Much like the roof-less McLaren Elva, the Ferr..."
7,8,Gordon Murray T.33,Price: $1.7 Million,The second and slightly more affordable superc...
8,9,Koenigsegg Gemera,Price: $1.7 Million,"One of two Koenigsegg models on this list, the..."
9,10,Zenvo TSR-S,Price: $1.7 Million,"Hailing from Denmark, the Zenvo TSR-S debuted ..."
10,11,Hennessey Venom F5,Price: $1.8 Million,"The Hennessey Venom GT was a record-breaker, t..."
11,12,Bentley Bacalar,Price: $1.9 Million,"With just 12 total units produced, the Bentley..."
12,13,Hispano Suiza Carmen Boulogne,Price: $1.9 Million,To call the Hispano Suiza Carmen Boulogne beau...
13,14,Bentley Mulliner Batur,Price: $2.0 Million,The electric onslaught is coming. Bentley says...
14,15,Deus Vayanne,Price: $2.0 Million,The Deus Vayanne may not be a household name (...
15,16,SSC Tuatara,Price: $2.0 Million*,"Although initially cloaked in controversy, SSC..."
16,17,Lotus Evija,Price: $2.1 Million,With a new Emira sports car and an Eletre elec...
17,18,Aston Martin Vulcan,Price: $2.3 Million,"As with a few other cars on this list, the Ast..."
18,19,Delage D12,Price: $2.3 Million,You may have heard of Delage before. In the ea...
19,20,McLaren Speedtail,Price: $2.3 Million,What would you pay for the fastest production ...
20,21,Rimac Nevera,Price: $2.4 Million,The Rimac Nevera takes the title of most expen...
21,22,Pagani Utopia,Price: $2.5 Million,"First came the Zonda, then the Huayra, and now..."
22,23,Pininfarina Battista,Price: $2.5 Million,"Aptly named after the company’s founder, Batti..."
23,24,Ferrari FXX K Evo,Price: $2.6 Million,"Sure, you could buy a normal LaFerrari (which ..."
24,25,Gordon Murray T.50,Price: $2.6 Million,"If the name Gordon Murray sounds familiar, it’..."
25,26,Lamborghini Countach,Price: $2.6 Million,"The name Countach may be iconic, but is it wor..."
26,27,Mercedes-AMG Project One,Price: $2.7 Million,Mercedes has promised a production version of ...
27,28,Aston Martin Victor,Price: $3.0 Million,The folks at Aston Martin know a thing or two ...
28,29,Hennessey Venom F5 Roadster,$3.0 Million,The same Hennessey Venom F5 hypercar we all kn...
29,30,Koenigsegg Jesko,Price: $3.0 Million,"The Koenigsegg Jesko, apart from being the fas..."
30,31,Aston Martin Valkyrie,Price: $3.2 Million,The upcoming Aston Martin hybrid hypercar hasn...
31,32,W Motors Lykan Hypersport,Price: $3.4 Million,Dubai-based W Motors shocked the world with it...
32,33,McLaren Solus,$3.5 Million,"One seat, 829 horsepower, and a top speed of o..."
33,34,Pagani Huayra Roadster BC,Price: $3.5 Million,"Following Pagani’s past playbook, a roadster v..."
34,35,Bugatti Chiron Pur Sport,Price: $3.6 Million,Another showstopper from the Geneva Motor Show...
35,36,Lamborghini Sian,Price: $3.6 million,"In several ways, the Sian represents a bridge ..."
36,37,Koenigsegg CC850,Price: $3.7 Million,The Koenigsegg CC850 was a surprise to be sure...
37,38,Bugatti Chiron Super Sport 300+,Price: $3.9 Million,"Earlier this year, Bugatti captured the collec..."
38,39,Lamborghini Veneno,Price: $4.5 Million,Lamborghini built just 14 examples of the Aven...
39,40,Bugatti Bolide,Price: $4.7 Million,Produced in extremely limited numbers atop the...
40,41,Bugatti Mistral,Price: $5.0 Million,The Bugatti Mistral sends the iconic W16 engin...
41,42,Pagani Huayra Imola,Price: $5.4 Million,Even though the new Utopia marks the next big ...
42,43,Bugatti Divo,Price: $5.8 Million,"Among Bugatti’s recently debuted vehicles, the..."
43,44,SP Automotive Chaos,Price: $6.4 Million,SP Automotive (short for Spyros Panopoulos) is...
44,45,Pagani Codalunga,Price: $7.4 Million,The long list of pricey (new) Paganis ends wit...
45,46,Mercedes-Maybach Exelero,Price: $8.0 Million,"Like many others before it, the Mercedes-Benz ..."
46,47,Bugatti Centodieci,Price: $9.0 Million,Bugatti debuted the Centodieci at last year’s ...
47,48,Rolls-Royce Sweptail,Price: $12.8 Million,"Rolls-Royce, expectedly, takes two of the top ..."
48,49,Bugatti La Voiture Noire,Price: $13.4 Million,"With a price tag of $13.4 million, the one-off..."
49,50,Rolls-Royce Boat Tail*,Price: $28.0 Million (est.),Rolls-Royce is back in the business of coachbu...