# Install the Package

In [1]:
!pip install selenium

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: selenium in c:\users\dell\appdata\roaming\python\python39\site-packages (4.7.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\programdata\anaconda3\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\dell\appdata\roaming\python\python39\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: trio~=0.17 in c:\users\dell\appdata\roaming\python\python39\site-packages (from selenium) (0.22.0)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\dell\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.0.4)
Requirement already satisfied: attrs>=19.2.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: outcome in c:\users\dell\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\dell\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: wsproto>=0.14 in c:\users\dell\appdata\roaming\python\python39\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\dell\appdata\roaming\python\python39\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

# Question no 01

1. Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
You need to find following details:

A) Rank

B) Name

C) Artist

D) Upload date

E) Views

In [1]:
# Importing the required Libraries.

import selenium 
import pandas as pd
from selenium import webdriver
from bs4 import BeautifulSoup
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException ,ElementNotInteractableException
from selenium.webdriver.common.by import By
import re
import time
import requests
import urllib
import csv


#Lets first connect to the driver-
driver = webdriver.Chrome(r"chromedriver.exe")


# Opening the Required URL of "https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos".

url = "https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"
driver.get(url)

In [2]:
# Creating the Empty List.

Common_list_Container = []
Rank_ = []
Video_name = []
Artist_name = []
Upload_date = []
Views_ = []

# Scraping " Common_ " items having same class name.

Common_list_Container_tag = driver.find_elements(By.XPATH,'//td')
for i in Common_list_Container_tag[2:181]:
    common=i.text
    Common_list_Container.append(common)
    
print(len(Common_list_Container))


# Slicing and Indexing of list

Rank_ = Common_list_Container[0::6]
Video_name = Common_list_Container[1::6]
Artist_name = Common_list_Container[2::6]
Views_ = Common_list_Container[3::6]
Upload_date = Common_list_Container[4::6]

# finding length .
print(len(Rank_),len(Video_name),len(Artist_name),len(Views_),len(Upload_date))

179
30 30 30 30 30

In [3]:
# Making the Data Frame for the above details .

df=pd.DataFrame({'RANK':Rank_,'VIDEO NAME':Video_name,'ARTIST NAME':Artist_name,'VIEW COUNTS':Views_,'DATE_OF_RELEASE':Upload_date})
df

,RANK,VIDEO NAME,ARTIST NAME,VIEW COUNTS,DATE_OF_RELEASE
0,1.,"""Baby Shark Dance""[4]",Pinkfong Baby Shark - Kids' Songs & Stories,12.00,"June 17, 2016"
1,2.,"""Despacito""[7]",Luis Fonsi,8.05,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""[14]",LooLoo Kids,6.57,"October 8, 2016"
3,4.,"""Bath Song""[15]",Cocomelon – Nursery Rhymes,5.89,"May 2, 2018"
4,5.,"""Shape of You""[16]",Ed Sheeran,5.88,"January 30, 2017"
5,6.,"""See You Again""[18]",Wiz Khalifa,5.74,"April 6, 2015"
6,7.,"""Phonics Song with Two Words""[23]",ChuChu TV,5.08,"March 6, 2014"
7,8.,"""Uptown Funk""[24]",Mark Ronson,4.79,"November 19, 2014"
8,9.,"""Wheels on the Bus""[25]",Cocomelon – Nursery Rhymes,4.77,"May 24, 2018"
9,10.,"""Learning Colors – Colorful Eggs on a Farm""[26]",Miroshka TV,4.76,"February 27, 2018"
10,11.,"""Gangnam Style""[27]",Psy,4.64,"July 15, 2012"
11,12.,"""Masha and the Bear – Recipe for Disaster""[32]",Get Movies,4.52,"January 31, 2012"
12,13.,"""Dame Tu Cosita""[33]",El Chombo,4.18,"April 5, 2018"
13,14.,"""Sugar""[34]",Maroon 5,3.80,"January 14, 2015"
14,15.,"""Roar""[35]",Katy Perry,3.70,"September 5, 2013"
15,16.,"""Counting Stars""[36]",OneRepublic,3.70,"May 31, 2013"
16,17.,"""Axel F""[37]",Crazy Frog,3.67,"June 16, 2009"
17,18.,"""Sorry""[38]",Justin Bieber,3.62,"October 22, 2015"
18,19.,"""Thinking Out Loud""[39]",Ed Sheeran,3.53,"October 7, 2014"
19,20.,"""Baa Baa Black Sheep""[40]",Cocomelon – Nursery Rhymes,3.46,"June 25, 2018"
20,21.,"""Dark Horse""[41]",Katy Perry,3.42,"February 20, 2014"
21,22.,"""Waka Waka (This Time for Africa)""[42]",Shakira,3.40,"June 4, 2010"
22,23.,"""Faded""[43]",Alan Walker,3.38,"December 3, 2015"
23,24.,"""Let Her Go""[44]",Passenger,3.36,"July 25, 2012"
24,25.,"""Girls Like You""[45]",Maroon 5,3.35,"May 31, 2018"
25,26.,"""Perfect""[46]",Ed Sheeran,3.33,"November 9, 2017"
26,27.,"""Bailando""[47]",Enrique Iglesias,3.31,"April 11, 2014"
27,28.,"""Lean On""[48]",Major Lazer,3.31,"March 22, 2015"
28,29.,"""Humpty the train on a fruits ride""[49]",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,3.26,"January 26, 2018"
29,30.,"""Lakdi Ki Kathi""[50]",Jingle Toons,3.24,"June 14, 2018"

In [4]:
# Saving the Data to CSV format.

df.to_csv('List of most-viewed YouTube videos1.csv',index=False)

# The Files will be saved to the jupyter notebook , with the name as " raw_data.csv" file.

# Question no 02

2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.

You need to find following details:
A) Match title (I.e. 1
st ODI)
B) Series
C) Place
D) Date
E) Time

Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [16]:
# Importing the required Libraries.

import selenium 
import pandas as pd
from selenium import webdriver
from bs4 import BeautifulSoup
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException ,ElementNotInteractableException
from selenium.webdriver.common.by import By
import re
import time
import requests
import urllib
import csv


#Lets first connect to the driver-
driver = webdriver.Chrome(r"chromedriver.exe")


# Opening the Required URL of "https://www.bcci.tv/"

url = "https://www.bcci.tv/"
driver.get(url)

In [17]:
# Creating the empty list.

Match_title_ = []
Series_ = []
Place_ = []
Date_ = []
Time_ = []

# Click on internationaL Button

international_button = driver.find_element(By.XPATH,'//li[@class="nav-item"]')
international_button.click()

In [18]:
# Click on All Format button

all_format_button = driver.find_element(By.XPATH,'//div[@class="customSelecBox matchFormatDropDown"]')
all_format_button.click()

# Click on ODI button

select_odi_button = driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div/div/div/div[2]/div[2]/div/div[3]/div/div[2]/div[3]')
select_odi_button.click()

In [19]:
# Creating empty list
first_odi = []
series3items = []
date3items = []
time3items = []
place3items = []


# Scraping , in one common list name as "first_odi" for 1st odi only.
match_title_tag = driver.find_elements(By.XPATH,'//span[@class="matchOrderText ng-binding ng-scope"]')
for i in match_title_tag[:]:
    title=i.text
    Match_title_.append(title)
    
first_odi  = Match_title_ [0::3]


# Scraping , in one common list name as "series3items" for 1st odi only.
series_tag = driver.find_elements(By.XPATH,'//span[@class="ng-binding"]')
for i in series_tag[:]:
    series=i.text
    Series_.append(series)
    
series3items = Series_[0::3]


# Scraping , in one common list name as "date3items" for 1st odi only.

date_tag = driver.find_elements(By.XPATH,'//h5[@class="ng-binding"]')
for i in date_tag[:]:
    date=i.text
    Date_.append(date)
    
date3items = Date_[0::3]


# Scraping , in one common list name as "time3items" for 1st odi only.

time_tag = driver.find_elements(By.XPATH,'//h5[@class="text-right ng-binding"]')
for i in time_tag[:]:
    time=i.text
    Time_.append(time)
    
time3items = Time_[0::3]


# Scraping , in one common list name as "place3items" for 1st odi only.

place_tag = driver.find_elements(By.XPATH,'//span[@class="ng-binding ng-scope"]')
for i in place_tag[:]:
    place=i.text
    Place_.append(place)
    
place3items = Place_[0::3]

print(len(first_odi),len(series3items),len(date3items),len(time3items),len(place3items))

3 3 3 3 3

In [20]:
# Making the Data Frame for the above details . ONLY FOR :_ 1st ODI 

df=pd.DataFrame({'Seq_NO':range(1,4,1),'MATCH_TITLE':first_odi,'SERIES_NAME':series3items,'PLACE':place3items,'TIMINGS':time3items,'DATE':date3items})
df

,Seq_NO,MATCH_TITLE,SERIES_NAME,PLACE,TIMINGS,DATE
0,1,1st ODI -,SRI LANKA TOUR OF INDIA ODI SERIES 2022-23,"Barsapara Cricket Stadium,",1:30 PM IST,10 JAN 2023
1,2,1st ODI -,NEW ZEALAND TOUR OF INDIA ODI SERIES 2022-23,"Rajiv Gandhi International Stadium,",1:30 PM IST,18 JAN 2023
2,3,1st ODI -,AUSTRALIA TOUR OF INDIA ODI SERIES 2022-23,"Wankhede Stadium,",1:30 PM IST,17 MAR 2023

In [22]:
# Making the Data Frame for the above details . ALL IN ONE DECLATRION 

df1=pd.DataFrame({'Seq_NO':range(1,10,1),'MATCH_TITLE':Match_title_,'SERIES_NAME':Series_,'PLACE':Place_,'TIMINGS':Time_,'DATE':Date_})
df1

,Seq_NO,MATCH_TITLE,SERIES_NAME,PLACE,TIMINGS,DATE
0,1,1st ODI -,SRI LANKA TOUR OF INDIA ODI SERIES 2022-23,"Barsapara Cricket Stadium,",1:30 PM IST,10 JAN 2023
1,2,2nd ODI -,SRI LANKA TOUR OF INDIA ODI SERIES 2022-23,"Eden Gardens,",1:30 PM IST,12 JAN 2023
2,3,3rd ODI -,SRI LANKA TOUR OF INDIA ODI SERIES 2022-23,"Greenfield International Stadium,",1:30 PM IST,15 JAN 2023
3,4,1st ODI -,NEW ZEALAND TOUR OF INDIA ODI SERIES 2022-23,"Rajiv Gandhi International Stadium,",1:30 PM IST,18 JAN 2023
4,5,2nd ODI -,NEW ZEALAND TOUR OF INDIA ODI SERIES 2022-23,Shaheed Veer Narayan Singh International Crick...,1:30 PM IST,21 JAN 2023
5,6,3rd ODI -,NEW ZEALAND TOUR OF INDIA ODI SERIES 2022-23,"Holkar Cricket Stadium,",1:30 PM IST,24 JAN 2023
6,7,1st ODI -,AUSTRALIA TOUR OF INDIA ODI SERIES 2022-23,"Wankhede Stadium,",1:30 PM IST,17 MAR 2023
7,8,2nd ODI -,AUSTRALIA TOUR OF INDIA ODI SERIES 2022-23,"Dr YS Rajasekhara Reddy ACA-VDCA Cricket Stadium,",1:30 PM IST,19 MAR 2023
8,9,3rd ODI -,AUSTRALIA TOUR OF INDIA ODI SERIES 2022-23,"MA Chidambaram Stadium,",1:30 PM IST,22 MAR 2023

In [23]:
# Saving the Data to CSV format.

df1.to_csv('ODI Matches list of all Combine1.csv',index=False)

# The Files will be saved to the jupyter notebook , with the name as " ODI Matches list of all Combine.csv" file.

# Question No 03

3. Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description
Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [1]:
# Importing the required Libraries.

import selenium 
import pandas as pd
from selenium import webdriver
from bs4 import BeautifulSoup
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException ,ElementNotInteractableException
from selenium.webdriver.common.by import By
import re
import time
import requests
import urllib
import csv


#Lets first connect to the driver-
driver = webdriver.Chrome(r"chromedriver.exe")


# Opening the Required URL of "https://www.guru99.com/"

url = "https://www.guru99.com/"
driver.get(url)

In [2]:
# Click on 'selenium_button'

selenium_button = driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div/main/div/article/div/div[1]/div[2]/div[1]/div/ul[1]/li[3]/a')
selenium_button.click()

In [3]:
# Click on 'tutorial_seleniumexception_button'

tutorial_seleniumexception_button = driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div/main/div/article/div/div/table[5]/tbody/tr[34]/td[1]/a')
tutorial_seleniumexception_button.click()

In [5]:
# Creating the empty list.

Name_Of_Exception = []
Description_ = []


# Scraping  items at once, in "Name_Of_Exception" .

name_exception_tag = driver.find_elements(By.XPATH,'//strong')
for i in name_exception_tag[2:43]:
    name=i.text
    Name_Of_Exception.append(name)
    
    
# Scraping items at once, in "Description_" .

description_details_tag = driver.find_elements(By.XPATH,'//p')
for i in description_details_tag[2:43]:
    desc=i.text
    Description_.append(desc)
    
# Printning the descriptions of the exceptions.
print(Description_)

['1. ElementNotVisibleException: This type of Selenium exception occurs when an existing element in DOM has a feature set as hidden.', '2. ElementNotSelectableException: This Selenium exception occurs when an element is presented in the DOM, but you can be able to select. Therefore, it is not possible to interact.', '3. NoSuchElementException: This Exception occurs if an element could not be found.', '4. NoSuchFrameException: This Exception occurs if the frame target to be switched to does not exist.', '5. NoAlertPresentException: This Exception occurs when you switch to no presented alert.', '6. NoSuchWindowException: This Exception occurs if the window target to be switch does not exist.', '7. StaleElementReferenceException: This Selenium exception occurs happens when the web element is detached from the current DOM.', '8. SessionNotFoundException: The WebDriver is acting after you quit the browser.', '9. TimeoutException: Thrown when there is not enough time for a command to be completed. For Example, the element searched wasn’t found in the specified time.', '10. WebDriverException: This Exception takes place when the WebDriver is acting right after you close the browser.', '11. ConnectionClosedException: This type of Exception takes place when there is a disconnection in the driver.', '12. ElementClickInterceptedException: The command may not be completed as the element receiving the events is concealing the element which was requested clicked.', '13. ElementNotInteractableException: This Selenium exception is thrown when any element is presented in the DOM. However, it is impossible to interact with such an element.', '14. ErrorInResponseException: This happens while interacting with the Firefox extension or the remote driver server.', '15. ErrorHandler.UnknownServerException: Exception is used as a placeholder in case if the server returns an error without a stack trace.', '16. ImeActivationFailedException: This expectation will occur when IME engine activation has failed.', '17. ImeNotAvailableException: It takes place when IME support is unavailable.', '18. InsecureCertificateException: Navigation made the user agent to hit a certificate warning. This can cause by an invalid or expired TLS certificate.', '19. InvalidArgumentException: It occurs when an argument does not belong to the expected type.', '20. InvalidCookieDomainException: This happens when you try to add a cookie under a different domain instead of current URL.', '21. InvalidCoordinatesException: This type of Exception matches an interacting operation that is not valid.', '22. InvalidElementStateException: It occurs when command can’t be finished when the element is invalid.', '23. InvalidSessionIdException: This Exception took place when the given session ID is not included in the list of active sessions. It means the session does not exist or is inactive either.', '24. InvalidSwitchToTargetException: This occurs when the frame or window target to be switched does not exist.', '25. JavascriptException: This issue occurs while executing JavaScript given by the user.', '26. JsonException: It occurs when you afford to get the session when the session is not created.', '27. NoSuchAttributeException: This kind of Exception occurs when the attribute of an element could not be found.', '28. MoveTargetOutOfBoundsException: It takes place if the target provided to the ActionChains move() methodology is not valid. For Example, out of the document.', '29. NoSuchContextException: ContextAware does mobile device testing.', '30. NoSuchCookieException: This Exception occurs when no cookie matching with the given pathname found for all the associated cookies of the currently browsing document.', '31. NotFoundException: This Exception is a subclass of WebDriverException. This will occur when an element on the DOM does not exist.', '32. RemoteDriverServerException: This Selenium exception is thrown when the server is not responding because of the problem that the capabilities described are not proper.', '33. ScreenshotException: It is not possible to capture a screen.', '34. SessionNotCreatedException: It happens when a new session could not be successfully created.', '35. UnableToSetCookieException: This occurs if a driver is unable to set a cookie.', '36. UnexpectedTagNameException: Happens if a support class did not get a web element as expected.', '37. UnhandledAlertException: This expectation occurs when there is an alert, but WebDriver is not able to perform Alert operation.', '38. UnexpectedAlertPresentException: It occurs when there is the appearance of an unexpected alert.', '39. UnknownMethodException: This Exception happens when the requested command matches with a known URL but and not matching with a methodology for a specific URL.', '40. UnreachableBrowserException: This Exception occurs only when the browser is not able to be opened or crashed because of some reason.', '41. UnsupportedCommandException: This occurs when remote WebDriver doesn’t send valid commands as expected.']

In [6]:
# Making the Data Frame for " Name_of_Exceptions and Their_Details_Descriptions" . 

df=pd.DataFrame({'NAME_OF_EXCEPTIONS':Name_Of_Exception,'DESCRIPTION_DETAILS':Description_ })
df

,NAME_OF_EXCEPTIONS,DESCRIPTION_DETAILS
0,1. ElementNotVisibleException:,1. ElementNotVisibleException: This type of Se...
1,2. ElementNotSelectableException:,2. ElementNotSelectableException: This Seleniu...
2,3. NoSuchElementException:,3. NoSuchElementException: This Exception occu...
3,4. NoSuchFrameException:,4. NoSuchFrameException: This Exception occurs...
4,5. NoAlertPresentException:,5. NoAlertPresentException: This Exception occ...
5,6. NoSuchWindowException:,6. NoSuchWindowException: This Exception occur...
6,7. StaleElementReferenceException:,7. StaleElementReferenceException: This Seleni...
7,8. SessionNotFoundException:,8. SessionNotFoundException: The WebDriver is ...
8,9. TimeoutException:,9. TimeoutException: Thrown when there is not ...
9,10. WebDriverException:,10. WebDriverException: This Exception takes p...
10,11. ConnectionClosedException:,11. ConnectionClosedException: This type of Ex...
11,12. ElementClickInterceptedException:,12. ElementClickInterceptedException: The comm...
12,13. ElementNotInteractableException:,13. ElementNotInteractableException: This Sele...
13,14. ErrorInResponseException:,14. ErrorInResponseException: This happens whi...
14,15. ErrorHandler.UnknownServerException:,15. ErrorHandler.UnknownServerException: Excep...
15,16. ImeActivationFailedException:,16. ImeActivationFailedException: This expecta...
16,17. ImeNotAvailableException:,17. ImeNotAvailableException: It takes place w...
17,18. InsecureCertificateException:,18. InsecureCertificateException: Navigation m...
18,19. InvalidArgumentException:,19. InvalidArgumentException: It occurs when a...
19,20. InvalidCookieDomainException:,20. InvalidCookieDomainException: This happens...
20,21. InvalidCoordinatesException:,21. InvalidCoordinatesException: This type of ...
21,22. InvalidElementStateException:,22. InvalidElementStateException: It occurs wh...
22,23. InvalidSessionIdException:,23. InvalidSessionIdException: This Exception ...
23,24. InvalidSwitchToTargetException:,24. InvalidSwitchToTargetException: This occur...
24,25. JavascriptException:,25. JavascriptException: This issue occurs whi...
25,26. JsonException:,26. JsonException: It occurs when you afford t...
26,27. NoSuchAttributeException:,27. NoSuchAttributeException: This kind of Exc...
27,28. MoveTargetOutOfBoundsException:,28. MoveTargetOutOfBoundsException: It takes p...
28,29. NoSuchContextException:,29. NoSuchContextException: ContextAware does ...
29,30. NoSuchCookieException:,30. NoSuchCookieException: This Exception occu...
30,31. NotFoundException:,31. NotFoundException: This Exception is a sub...
31,32. RemoteDriverServerException:,32. RemoteDriverServerException: This Selenium...
32,33. ScreenshotException:,33. ScreenshotException: It is not possible to...
33,34. SessionNotCreatedException:,34. SessionNotCreatedException: It happens whe...
34,35. UnableToSetCookieException:,35. UnableToSetCookieException: This occurs if...
35,36. UnexpectedTagNameException:,36. UnexpectedTagNameException: Happens if a s...
36,37. UnhandledAlertException:,37. UnhandledAlertException: This expectation ...
37,38. UnexpectedAlertPresentException:,38. UnexpectedAlertPresentException: It occurs...
38,39. UnknownMethodException:,39. UnknownMethodException: This Exception hap...
39,40. UnreachableBrowserException:,40. UnreachableBrowserException: This Exceptio...
40,41. UnsupportedCommandException:,41. UnsupportedCommandException: This occurs w...

# Question no 04

4. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP(18-19)- at current prices
D) GSDP(19-20)- at current prices
E) Share(18-19)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [7]:
# Importing the required Libraries.

import selenium 
import pandas as pd
from selenium import webdriver
from bs4 import BeautifulSoup
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException ,ElementNotInteractableException
from selenium.webdriver.common.by import By
import re
import time
import requests
import urllib
import csv


#Lets first connect to the driver-
driver = webdriver.Chrome(r"chromedriver.exe")

# Opening the Required URL of "http://statisticstimes.com/"
url = "http://statisticstimes.com/"
driver.get(url)

In [8]:
economy_page = driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/button')
economy_page.click()

In [9]:

economy_page = driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
economy_page.click()

In [11]:

economy_page = driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
economy_page.click()

In [12]:
# Creating the Empty Lists.

RANK_ = []
STATE_ = []

Data_Common_Container= []
gsdp_18_19_data = []

SHARE_ = []
GDP_ = []

In [14]:
# Scraping items , in list name as "RANK_" .

rank_tag = driver.find_elements(By.XPATH,'//td[@class="data1"]')
for i in rank_tag[0:33]:
    rank=i.text
    RANK_.append(rank)
    
# Scraping items , in list name as "STATE_ = []" .

state_tag = driver.find_elements(By.XPATH,'//td[@class="name"]')
for i in state_tag[0:33]:
    state=i.text
    STATE_.append(state)
    
# Scraping items, in list name as "Data_Common_Container= []" .

data_common_tag = driver.find_elements(By.XPATH,'//td[@class="data"]')
for i in data_common_tag[0:165]:
    common=i.text
    Data_Common_Container.append(common)
    
gsdp_19_20_data = Data_Common_Container[0::5]

# Scraping all the desired items at once, in one common list name as "gsdp_18_19_data = []" .

gsdp_18_19_tag = driver.find_elements(By.XPATH,'//td[@class="data sorting_1"]')
for i in gsdp_18_19_tag[0:33]:
    gsdp_18_19=i.text
    gsdp_18_19_data.append(gsdp_18_19)
    
SHARE_ = Data_Common_Container[1::5]

GDP_ = Data_Common_Container[2::5]

print(len(RANK_),len(STATE_),len(Data_Common_Container),len(gsdp_19_20_data),len(gsdp_18_19_data),len(SHARE_),len(GDP_))

33 33 165 33 33 33 33

In [15]:
# Making the Data Frame for the above details .

df=pd.DataFrame({'RANK':RANK_,'STATE_NAME':STATE_,'GSDP_18-19_':gsdp_18_19_data,'GSDP_19-20_':gsdp_19_20_data,'SHARE_PERCENT':SHARE_,'GDP_IN_BILLION':GDP_})
df

,RANK,STATE_NAME,GSDP_18-19_,GSDP_19-20_,SHARE_PERCENT,GDP_IN_BILLION
0,1,Maharashtra,"2,632,792",-,13.94%,399.921
1,2,Tamil Nadu,"1,630,208","1,845,853",8.63%,247.629
2,3,Uttar Pradesh,"1,584,764","1,687,818",8.39%,240.726
3,4,Gujarat,"1,502,899",-,7.96%,228.290
4,5,Karnataka,"1,493,127","1,631,977",7.91%,226.806
5,6,West Bengal,"1,089,898","1,253,832",5.77%,165.556
6,7,Rajasthan,"942,586","1,020,989",4.99%,143.179
7,8,Andhra Pradesh,"862,957","972,782",4.57%,131.083
8,9,Telangana,"861,031","969,604",4.56%,130.791
9,10,Madhya Pradesh,"809,592","906,672",4.29%,122.977
10,11,Kerala,"781,653",-,4.14%,118.733
11,12,Delhi,"774,870","856,112",4.10%,117.703
12,13,Haryana,"734,163","831,610",3.89%,111.519
13,14,Bihar,"530,363","611,804",2.81%,80.562
14,15,Punjab,"526,376","574,760",2.79%,79.957
15,16,Odisha,"487,805","521,275",2.58%,74.098
16,17,Assam,"315,881",-,1.67%,47.982
17,18,Chhattisgarh,"304,063","329,180",1.61%,46.187
18,19,Jharkhand,"297,204","328,598",1.57%,45.145
19,20,Uttarakhand,"245,895",-,1.30%,37.351
20,21,Jammu & Kashmir,"155,956",-,0.83%,23.690
21,22,Himachal Pradesh,"153,845","165,472",0.81%,23.369
22,23,Goa,"73,170","80,449",0.39%,11.115
23,24,Tripura,"49,845","55,984",0.26%,7.571
24,25,Chandigarh,"42,114",-,0.22%,6.397
25,26,Puducherry,"34,433","38,253",0.18%,5.230
26,27,Meghalaya,"33,481","36,572",0.18%,5.086
27,28,Sikkim,"28,723","32,496",0.15%,4.363
28,29,Manipur,"27,870","31,790",0.15%,4.233
29,30,Nagaland,"27,283",-,0.14%,4.144
30,31,Arunachal Pradesh,"24,603",-,0.13%,3.737
31,32,Mizoram,"22,287","26,503",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

# Question no 05

5. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used
ASSIGNMENT
Note: - From the home page you have to click on the trending option from Explore menu through code.

In [16]:
# Importing the required Libraries.

import selenium 
import pandas as pd
from selenium import webdriver
from bs4 import BeautifulSoup
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException ,ElementNotInteractableException
from selenium.webdriver.common.by import By
import re
import time
import requests
import urllib
import csv


#Lets first connect to the driver-
driver = webdriver.Chrome(r"chromedriver.exe")

In [17]:
# Opening the Required URL of "https://github.com/"
url = "https://github.com/"
driver.get(url)

In [18]:
# Creating the Empty lists.

Repository_title = []
Repository_description = []
Contributors_count = []
Language_used = []

In [19]:
# Click on to the "OpenSource Icon".

open_source_bttn = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button')
open_source_bttn.click()

# Click on to the "trending_bttn Icon".

trending_bttn = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/ul[3]/li[3]/a')
trending_bttn.click()

In [27]:
# Scraping items, in list name as "Repository_title" .

Repository_title_tag = driver.find_elements(By.XPATH,'//h1[@class="h3 lh-condensed"]')
for i in Repository_title_tag[0:25]:
    reponame=i.text
    Repository_title.append(reponame)

print(len(Repository_title))
print(Repository_title)

25
['LAION-AI / Open-Assistant', 'karpathy / nanoGPT', 'sczhou / CodeFormer', 'DarkFlippers / unleashed-firmware', 'ytdl-org / youtube-dl', 'google / osv-scanner', 'pola-rs / polars', 'neonbjb / tortoise-tts', 'Developer-Y / cs-video-courses', 'dair-ai / Prompt-Engineering-Guide', 'Ebazhanov / linkedin-skill-assessments-quizzes', 'ocornut / imgui', 'AmruthPillai / Reactive-Resume', 'PRQL / prql', 'A-poc / RedTeam-Tools', 'jerryjliu / gpt_index', 'imDazui / Tvlist-awesome-m3u-m3u8', 'aurae-runtime / aurae', 'zlib-searcher / zlib-searcher', 'BrunoLevy / learn-fpga', 'alist-org / alist', 'freeCodeCamp / freeCodeCamp', 'Atlas-OS / Atlas', 'SheerSt / pokewilds', 'jwasham / coding-interview-university']

In [28]:
# Scraping items, in list name as "Repository_description" .

Repository_description_tag = driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')
for i in Repository_description_tag[0:25]:
    repodisc=i.text
    Repository_description.append(repodisc)
    
print(len(Repository_description))
print(Repository_description)

25
['OpenAssistant is a chat-based assistant that understands tasks, can interact with third-party systems, and retrieve information dynamically to do so.', 'The simplest, fastest repository for training/finetuning medium-sized GPTs.', '[NeurIPS 2022] Towards Robust Blind Face Restoration with Codebook Lookup Transformer', 'Flipper Zero Unleashed Firmware', 'Command-line program to download videos from YouTube.com and other video sites', 'Vulnerability scanner written in Go which uses the data provided by https://osv.dev', 'Fast multi-threaded, hybrid-streaming DataFrame library in Rust | Python | Node.js', 'A multi-voice TTS system trained with an emphasis on quality', 'List of Computer Science courses with video lectures.', '🐙 Guide and resources for prompt engineering', 'Full reference of LinkedIn answers 2022 for skill assessments (aws-lambda, rest-api, javascript, react, git, html, jquery, mongodb, java, Go, python, machine-learning, power-point) linkedin excel test lösungen, linkedin machine learning test LinkedIn test questions and answers', 'Dear ImGui: Bloat-free Graphical User interface for C++ with minimal dependencies', 'A one-of-a-kind resume builder that keeps your privacy in mind. Completely secure, customizable, portable, open-source and free forever. Try it out today!', 'PRQL is a modern language for transforming data — a simple, powerful, pipelined SQL replacement', 'Tools and Techniques for Red Team / Penetration Testing', 'An index created by GPT to organize external information and answer queries!', '直播源相关资源汇总 📺 💯 IPTV、M3U —— 勤洗手、戴口罩，祝愿所有人百毒不侵', 'Distributed systems runtime daemon written in Rust.', 'search zlib/libgen index to get ipfs_cid.', 'Learning FPGA, yosys, nextpnr, and RISC-V', '🗂️A file list program that supports multiple storage, powered by Gin and Solidjs. / 一个支持多存储的文件列表程序，使用 Gin 和 Solidjs。', "freeCodeCamp.org's open-source codebase and curriculum. Learn to code for free.", '🚀 An open-source modification of Windows 10, designed to optimize performance, and latency.', 'PokeWilds - A Gen 2 Game/Engine using libGDX', 'A complete computer science study plan to become a software engineer.']

In [30]:
# Created empty list as "product_urls"  , to store urls.
product_urls = []


# Scrapping all producct urls.
urls = driver.find_elements(By.XPATH,'//h1[@class="h3 lh-condensed"]')
for i in urls[:25]:
    product_urls.append(i.get_attribute('href'))                             #appending the urls, in product_urls lists.

print(len(product_urls))
print(product_urls)

25
[None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None]

# Question no 06

6. Scrape the details of top 100 songs on billiboard.com.
Url = https:/www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [93]:
# Importing the required Libraries.

import selenium 
import pandas as pd
from selenium import webdriver
from bs4 import BeautifulSoup
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException ,ElementNotInteractableException
from selenium.webdriver.common.by import By
import re
import time
import requests
import urllib
import csv


#Lets first connect to the driver-
driver = webdriver.Chrome(r"chromedriver.exe")

In [94]:
# Opening the Required URL of "https://maps.google.com"
url = "https:/www.billboard.com/"
driver.get(url)

In [95]:
charts_bttn = driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a')
charts_bttn.click()

In [97]:
view_chart_bttn = driver.find_element(By.XPATH,'/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[3]/a')
view_chart_bttn.click()

In [102]:
# Creating the Empty lists.

Song_name = []
Artist_name = []
Last_week_rank = []
Peak_rank = []
Weeks_on_board = []

Common_list = []

Common_list2 = []

In [103]:
# Scraping "Song_Name"  .

Common_list_tag = driver.find_elements(By.XPATH,'//h3[@id="title-of-a-story"]')
for i in Common_list_tag[0:403]:
    common=i.text
    Common_list.append(common)
    
Song_name = Common_list [6::4]

In [104]:
# Scraping "Artist_name" .

Artist_name_tag = driver.find_elements(By.XPATH,'//span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only u-font-size-20@tablet"]')
for i in Artist_name_tag[:]:
    art=i.text
    Artist_name.append(art)
    

Artist_name_tag = driver.find_elements(By.XPATH,'//span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only"]')
for i in Artist_name_tag[0:99]:
    art=i.text
    Artist_name.append(art)

In [105]:
# Scraping items, in list name as "Common_list2" .

Common_list2_tag = driver.find_elements(By.XPATH,'//span[@class="c-label  a-font-primary-bold-l a-font-primary-m@mobile-max u-font-weight-normal@mobile-max lrv-u-padding-tb-050@mobile-max u-font-size-32@tablet"]')
for i in Common_list2_tag[:]:
    common2=i.text
    Common_list2.append(common2)
    
Common_list2_tag = driver.find_elements(By.XPATH,'//span[@class="c-label  a-font-primary-m lrv-u-padding-tb-050@mobile-max"]')
for i in Common_list2_tag[0:594]:
    common2=i.text
    Common_list2.append(common2)

In [106]:
Last_week_rank = Common_list2 [0::6]

Peak_rank = Common_list2 [1::6]

Weeks_on_board = Common_list2 [2::6]

print('hii processing data')

hii processing data

In [107]:
# Making the Data Frame for the above details .

df=pd.DataFrame({'SEQ_NO':range(1,101,1),'SONG_NAME':Song_name,'ARTIST_NAME':Artist_name,'LAST_WEEK_RANK':Last_week_rank,'PEAK_RANK':Peak_rank,'WEEKS_ON_BOARD':Weeks_on_board})
df

,SEQ_NO,SONG_NAME,ARTIST_NAME,LAST_WEEK_RANK,PEAK_RANK,WEEKS_ON_BOARD
0,1,All I Want For Christmas Is You,Mariah Carey,1,1,57
1,2,Rockin' Around The Christmas Tree,Brenda Lee,2,2,51
2,3,Jingle Bell Rock,Bobby Helms,4,3,48
3,4,A Holly Jolly Christmas,Burl Ives,5,4,31
4,5,Last Christmas,Wham!,6,5,30
...,...,...,...,...,...,...
95,96,Down Home,Jimmie Allen,-,88,5
96,97,One Thing At A Time,Morgan Wallen,81,37,3
97,98,Hold Me Closer,Elton John & Britney Spears,89,6,17
98,99,Far,SZA,61,61,2
99,100,All Mine,Brent Faiyaz,95,42,20

# Question no 07

7. Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and
click on search. All this should be done through code

In [87]:
# Importing the required Libraries.

import selenium 
import pandas as pd
from selenium import webdriver
from bs4 import BeautifulSoup
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException ,ElementNotInteractableException
from selenium.webdriver.common.by import By
import re
import time
import requests
import urllib
import csv


#Lets first connect to the driver-
driver = webdriver.Chrome(r"chromedriver.exe")

In [88]:
# Opening the URL as "https://www.naukri.com/hr-recruiters-consultants"

url = "https://www.naukri.com/hr-recruiters-consultants"
driver.get(url)

In [89]:
# entering " Data science " in the search bar.

searchbar = driver.find_element(By.XPATH,'//input[@class="sugInp"]')
searchbar.send_keys("Data science")


# Click in to the Search Bar.

searchbar = driver.find_element(By.XPATH,'//button[@class="fl qsbSrch blueBtn"]')
searchbar.click()

In [90]:
# Creating the List for Storages of the items.

Common_ = []

Name_ = []
Designation_ = []
Company_ = []
Skills_ = []
Location_ = []

In [91]:
# Designation Scraping.

Designation_tag = driver.find_elements(By.XPATH,'//span[@class="ellipsis clr"]')
for i in Designation_tag[:]:
    desg=i.text
    Designation_.append(desg)
    
# Company Scraping.

Common_tag = driver.find_elements(By.XPATH,'//a[@class="ellipsis"]')
for i in Common_tag[:]:
    com=i.text
    Common_.append(com)
    
Name_ = Common_ [0::2]

Company_ = Common_ [1::2]



# Location Scraping.

Location_tag = driver.find_elements(By.XPATH,'//small[@class="ellipsis"]')
for i in Location_tag[0:30]:
    loca=i.text
    Location_.append(loca)

    
Location_.append('-')

Location_tag = driver.find_elements(By.XPATH,'//small[@class="ellipsis"]')
for i in Location_tag[30:48]:
    loca=i.text
    Location_.append(loca)
    
Location_.append('-')

# Skill_they_Hire_For , Scraping.

Skills_tag = driver.find_elements(By.XPATH,'//div[@class="hireSec highlightable"]')
for i in Skills_tag[:]:
    com=i.text
    Skills_.append(com)

In [92]:
# Making the Data Frame for the above details .

df=pd.DataFrame({'SEQ_NO':range(1,51,1),'NAME':Name_,'DESIGNATION':Designation_,'COMPANY_Name':Company_,'LOCATION':Location_,'SKILLS_THEY_HIRES':Skills_})
df

,SEQ_NO,NAME,DESIGNATION,COMPANY_Name,LOCATION,SKILLS_THEY_HIRES
0,1,Aakash Harit,HR Manager,Data Science Network,Delhi,"Classic ASP Developer, Internet Marketing Prof..."
1,2,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,Hyderabad / Secunderabad,".Net, Java, Data Science, Linux Administration..."
2,3,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,Pune,"Data Science, Artificial Intelligence, Machine..."
3,4,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,Ahmedabad,"Mean Stack, javascript, angularjs, mongodb, We..."
4,5,subhas patel,Founder CEO,LibraryXProject,UK - (london),"Hadoop, Spark, Digital Strategy, Data Architec..."
5,6,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,Vadodara / Baroda,"Analytics, Business Intelligence, Business Ana..."
6,7,Institute for Financial Management and Resear,Programme Manager,IFMR,Chennai,Data Science
7,8,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,Trivandrum,"Machine Learning, algorithms, Go Getter, Compu..."
8,9,Asif Lucknowi,Director,Weupskill- Live Wire India,Indore,"Technical Training, Software Development, Pres..."
9,10,InstaFinancials,Human Resource,CBL Data Science Private Limited,Bengaluru / Bangalore,"Software Development, It Sales, Account Manage..."
10,11,Kalpana Dumpala,Executive Hiring,Innominds Software,Hyderabad / Secunderabad,"Qa, Ui/ux, Java Developer, Java Architect, C++..."
11,12,Mubarak,Company HR,MoneyTap,Bengaluru / Bangalore,"Business Intelligence, Data Warehousing, Data ..."
12,13,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,Mumbai,"Office Administration, Hr Administration, tele..."
13,14,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,Hyderabad / Secunderabad,"Social Media, digital media maketing, seo, smm..."
14,15,Vaishnavi Kudalkar,HR Executive,Codeachive learning,Mumbai,"Data Science, Python, Data Analytics"
15,16,Priyanka Akiri,HR Manager,Infinitive Software Solutions,Hyderabad,"Oracle Dba, Data Science, Data Warehousing, ET..."
16,17,Kapil Devang,HR Manager,BISP Solutions,Bhopal,"Big Data, Hadoop, Data Analytics, Data Science"
17,18,Sakshi Chhikara,Assistant Manager HR,BIZ INFOTECNO PRIVATE LIMITED,Chandigarh,"React.js, Data Science, Java, Front End, Busin..."
18,19,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,Pune,"Qlikview, Qlik Sense, Microsoft Azure, Power B..."
19,20,Manisha Yadav,HR Executive,Easi Tax,Navi Mumbai,"Telecalling, Client Interaction, Marketing, Re..."
20,21,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Cochin,Data Science
21,22,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,Delhi,"Corporate Sales, Software Development, Softwar..."
22,23,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,Hyderabad / Secunderabad,"Data Analytics, Data Science, Machine Learning..."
23,24,Rithika dadwal,HR Recruiter,Affine Analytics,Pune,"Data Science, Machine Learning, Python, R, Dee..."
24,25,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,Pune,"Big Data, Data Science, Artificial Intelligenc..."
25,26,Shaun Rao,Manager Human Resources,Exela Technologies,Pune,"Java, Net, Angularjs, Hr, Infrastructure, Mana..."
26,27,Deeparchi Sharma,Company Recruiter,ZIGRAM,Gurgaon,"Research, Digital Marketing, Analytics, Softwa..."
27,28,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,Pune,"Data Science, Artificial Intelligence, Machine..."
28,29,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,Bengaluru / Bangalore,"Software Architecture, Vp Engineering, Product..."
29,30,kumar,Proprietor,trainin,Bengaluru / Bangalore,"Data Science, Hadoop, Rpas, Devops, Python, Aw..."
30,31,Sunil Vedula,CEO,Nanoprecise Sci Corp,-,"Signal Processing, Machine Learning, Neural Ne..."
31,32,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,Delhi,"Web Technologies, Project Management, Software..."
32,33,Dhruv Dev Dubey,Company Recruitment Head,Confidential,Bengaluru / Bangalore,"Server Administartion, Verilog, Vhdl, Digital ..."
33,34,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd",Mysoru / Mysore,"Data Analytics, Managed Services, Team Leading..."
34,35,Avodha,Business Development Associate,Nikitha Palaparthi,Hyderabad / Secunderabad,"Ethical Hacking, Security Operations Center, S..."
35,36,Priya Khare,Senior Manager,Independent Consultant,Bengaluru / Bangalore,"Data Science, Artificial Intelligence, analyti..."
36,37,Amit Sharma,Consultant,ASCO consulting,New Delhi,"Machine Learning, Artificial Intelligence, Dat..."
37,38,Kanan,senior technology instructor,NY INST,Chennai,"C, C++, Artificial Intelligence, Python, Php, ..."
38,39,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,Aligarh,"Relationship Management, Retail Sales, Private..."
39,40,Brad,"Manager, Technical Recruiting",O.C. Tanner,Salt Lake City,"Data Science, Software Engineering"
40,41,Rutuja Pawar,Technical Recruiter,Demand Matrix,Pune,"Data Science, Big Data Analytics, Digital Mark..."
41,42,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,Bengaluru / Bangalore,"Data Science, Recruitment, Salary"
42,43,Ankit Sinha,Head Analytics,Suntech Global,Mumbai,"B.Tech, Tableau, Statistics, R, Analytics, Tim..."
43,44,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,Indore,"Software Development, Business Intelligence, B..."
44,45,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,Bengaluru / Bangalore,"Data Science, Node.js, Angularjs"
45,46,Ashwini,Director Global Delivery,MRP Advisers,MYSORE,"Data Science, Media Marketing, Resource Planni..."
46,47,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,Hyderabad / Secunderabad,"Data Analysis, Learning, Data Science, Compute..."
47,48,Rajani Nagaraj,HR Manager,WildJasmine,Bengaluru / Bangalore,"Java, Hadoop, R, Machine Learning, Spark, Flum..."
48,49,ROHIT Kumar,Architect,LNT Private Limited,Mumbai,"Software Development, Core Java, Unit Testing,..."
49,50,Amir Chowdhury,Managing Partner,Granular.ai,-,"Machine Learning, Data Science, Product Manage..."

# Question no 08

8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [29]:
# Importing the required Libraries.

import selenium 
import pandas as pd
from selenium import webdriver
from bs4 import BeautifulSoup
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException ,ElementNotInteractableException
from selenium.webdriver.common.by import By
import re
import time
import requests
import urllib
import csv


#Lets first connect to the driver-
driver = webdriver.Chrome(r"chromedriver.exe")

In [30]:
# Opening the URL as "https://www.naukri.com/hr-recruiters-consultants"

url = "https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare"
driver.get(url)

In [31]:
# Creating One Common List container as " Common_"

Common_ = []
Rank_ = []
Book_name_ = []
Author_name_ = []
Volumes_sold_ = []
Publisher_ = []
Genre_ = []

In [32]:
# Scraping " Common_ " items having same class name.

Common_tag = driver.find_elements(By.XPATH,'//td[@class="left"]')
for i in Common_tag[:]:
    comm=i.text
    Common_.append(comm)
    
print(len(Common_))

# Slicing "Rank_" .
Rank_ = Common_[0::5]


# Slicing "Book_name_" .
Book_name_ = Common_[1::5]


# Slicing "Author_name_" .
Author_name_ = Common_[2::5]

# Slicing "Volumes_sold_" .
Volumes_sold_ = Common_[3::5]

# Slicing "Publisher_ " .
Publisher_ = Common_[4::5]

# Scraping " Genre_ "
Genre_tag = driver.find_elements(By.XPATH,'//td[@class="last left"]')
for i in Genre_tag[:]:
    genre=i.text
    Genre_.append(genre)

print(len(Rank_),len(Book_name_),len(Author_name_),len(Volumes_sold_),len(Publisher_),len(Genre_))

500
100 100 100 100 100 100

In [33]:
# Making the Data Frame for the above details .

df=pd.DataFrame({'RANK':Rank_,'BOOK_NAME':Book_name_,'AUTHOR_NAME':Author_name_,'VOLUMES_SOLD':Volumes_sold_,'PUBLICATIONS':Publisher_,'GENERE':Genre_})
df

,RANK,BOOK_NAME,AUTHOR_NAME,VOLUMES_SOLD,PUBLICATIONS,GENERE
0,1,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,2,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,3,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,4,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,5,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...,...
95,96,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,97,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,98,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,99,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,100,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# Question no 09

9. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [35]:
# Importing the required Libraries.

import selenium 
import pandas as pd
from selenium import webdriver
from bs4 import BeautifulSoup
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException ,ElementNotInteractableException
from selenium.webdriver.common.by import By
import re
import time
import requests
import urllib
import csv


#Lets first connect to the driver-
driver = webdriver.Chrome(r"chromedriver.exe")

In [36]:
# Opening the URL as "https://www.naukri.com/hr-recruiters-consultants"

url = "https://www.imdb.com/list/ls095964455/"
driver.get(url)

In [37]:
# Creating Empty List.

Name_ = []
Year_span_ = []
Genre_ = []
Run_time_ = []
Ratings_ = []
Votes_ = []

In [38]:
Name_tag = driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]')
for i in Name_tag[:]:
    name=i.text
    Name_.append(name)
    
Year_span_tag = driver.find_elements(By.XPATH,'//span[@class="lister-item-year text-muted unbold"]')
for i in Year_span_tag[:]:
    yrspan=i.text
    Year_span_.append(yrspan)

Genre_tag = driver.find_elements(By.XPATH,'//span[@class="genre"]')
for i in Genre_tag[:]:
    genere=i.text
    Genre_.append(genere)
    
Run_time_tag = driver.find_elements(By.XPATH,'//span[@class="runtime"]')
for i in Run_time_tag[:]:
    time=i.text
    Run_time_.append(time)
    
Ratings_tag = driver.find_elements(By.XPATH,'//div[@class="ipl-rating-star small"]')
for i in Ratings_tag[:]:
    rate=i.text
    Ratings_.append(rate)
    
Votes_tag = driver.find_elements(By.XPATH,'//span[@name="nv"]')
for i in Votes_tag[:]:
    vote=i.text
    Votes_.append(vote)
    
    
    
print(len(Name_),len(Year_span_),len(Genre_),len(Run_time_),len(Ratings_),len(Votes_))

100 100 100 100 100 100

In [39]:
# Making the Data Frame for the above details .

df=pd.DataFrame({'Ser_No':range(1,101,1),'NAME_OF_SHOW':Name_,'YEAR_SPAN':Year_span_,'GENRE':Genre_,'RUN_TIME':Run_time_,'RATINGS':Ratings_,'VOTES':Votes_})
df

,Ser_No,NAME_OF_SHOW,YEAR_SPAN,GENRE,RUN_TIME,RATINGS,VOTES
0,1,1. Game of Thrones (2011–2019),(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,099,691"
1,2,2. Stranger Things (2016– ),(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"1,189,951"
2,3,3. The Walking Dead (2010–2022),(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"993,965"
3,4,4. 13 Reasons Why (2017–2020),(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"294,157"
4,5,5. The 100 (2014–2020),(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"253,267"
...,...,...,...,...,...,...,...
95,96,96. Reign (2013–2017),(2013–2017),Drama,42 min,7.4,"50,371"
96,97,97. A Series of Unfortunate Events (2017–2019),(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"61,956"
97,98,98. Criminal Minds (2005– ),(2005– ),"Crime, Drama, Mystery",42 min,8.1,"199,869"
98,99,99. Scream: The TV Series (2015–2019),(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"41,705"
99,100,100. The Haunting of Hill House (2018),(2018),"Drama, Horror, Mystery",572 min,8.6,"246,891"

# Question no 10

10. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the ShowAllDataset page through code.

In [49]:
# Importing the required Libraries.

import selenium 
import pandas as pd
from selenium import webdriver
from bs4 import BeautifulSoup
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException ,ElementNotInteractableException
from selenium.webdriver.common.by import By
import re
import time
import requests
import urllib
import csv


#Lets first connect to the driver-
driver = webdriver.Chrome(r"chromedriver.exe")

In [50]:
# Opening the URL as "https://www.naukri.com/hr-recruiters-consultants"

url = "https://archive.ics.uci.edu/"
driver.get(url)

In [51]:
# Creating Empty List.

Common_ = []

Dataset_name_ = []
Data_type_ = []
Task_ = []
Attribute_type_ = []
No_of_instances_ = []
No_of_attribute_ = []
Year_ = []

In [52]:
viewalldataset = driver.find_element(By.XPATH,'/html/body/table[1]/tbody/tr/td[2]/span[2]')
viewalldataset.click()

In [53]:
# Scraping " Common_ " items having same class name.

Common_tag = driver.find_elements(By.XPATH,'//p[@class="normal"]')
for i in Common_tag[8:4362]:
    comm=i.text
    Common_.append(comm)
    
print(len(Common_))

4354

In [54]:
Dataset_name_ = Common_[0::7]
    
Data_type_ = Common_[1::7]

Task_ = Common_[2::7]
    
Attribute_type_ = Common_[3::7]
    
No_of_instances_ = Common_[4::7]
    
No_of_attribute_ = Common_[5::7]
    
Year_ = Common_[6::7]
    
      
print(len(Dataset_name_),len(Data_type_),len(Task_),len(Attribute_type_),len(No_of_instances_),len(No_of_attribute_),len(Year_))

622 622 622 622 622 622 622

In [57]:
# Making the Data Frame for the above details .Year_

df=pd.DataFrame({'DATASET_NAME':Dataset_name_,'DATA_TYPE':Data_type_,'TASK':Task_,'ATTRIBUTE_TYPE':Attribute_type_,'INSTANCES':No_of_instances_,'ATTRIBUTE':No_of_attribute_,'YEAR':Year_})
df

,DATASET_NAME,DATA_TYPE,TASK,ATTRIBUTE_TYPE,INSTANCES,ATTRIBUTE,YEAR
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2021

# End_OF_ASSIGNMENT_O4.